ul {
    @include type-settings(-2);
    @include following-element-has-no-top-padding;
    @include padding(1, 0, 0, 2, 0);
    list-style: disc;
    text-indent: 0;
    margin: 0;

    @if $build == web {
        list-style: none;
    }

    li {
        text-indent: 0;

        @if $build == web {
            text-indent: -0.6em;
            padding-left: 0.6em;
            &:before {
                content:'-';
                display:inline-block;
                position:relative;
                left:-0.3em;
            }
        }

    }

    * {
        @include type-settings(0);
    }
}

ol {
    @include type-settings(-2);
    @include following-element-has-no-top-padding;
    @include padding(1, 0, 0, 2, 0);
    list-style: decimal;
    text-indent: 0;
    margin: 0;

    li {
        padding-top: 0;

        @if $build == web {
            text-indent: -0.6em;
            padding-left: 0.6em;
        }
    }

    // Section styles
    section.colophon &,
    section.appendix &,
    section.backmatter & {
        @include padding(0, 1, 0, 1, -1);
        li {
            @include following-paragraph-not-indented;
            font-weight: normal;
            font-style: normal;
            text-indent: 0;
        }
    }

    * {
        @include type-settings(0);
    }

}

dl {
    dd {
        @include type-settings(0);
        text-indent: 0;
    }
    dt {
        @include type-settings(0);
        text-indent: 0;
    }
}
