
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 1em 0;
    tr {
        th { border-top: 1px solid $black; }
        th, td {
            @include type-settings(0);
            text-align: left;
            padding: 1em;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            border-bottom: 1px solid $black;
        }
    }
}
