
body {
    margin:0;
    text-indent: 0;
    padding:0;
    font-family:$font-family-base;
    @include type-settings(0);
    @include hyphens;
    @include widows;
    @include orphans;
    @include text-rendering;
    @include font-smoothing;
}

blockquote {
    margin: 0;
    font-size: one-em(0);
    @include following-element-has-no-top-padding;
    @include padding(1, 1, 1, 1, 0);
}

section {
    clear: both;
    padding-right: 0.75vh;
    @include break('mobile') { padding-right: 0; }
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

header {
    @include following-paragraph-not-indented;
}

section.break-before a + div.figure__small {
    padding-top: 0;
}

section.subchapter {
    margin-bottom: one-line(0);
    + section.subchapter > header > h2 {
        padding-top: 0;
    }

    section.colophon &,
    section.afterword &,
    section.seriespage &,
    section.credits &,
    section.contributors &,
    section.appendix & {
        margin-bottom: 0;
    }

}

section.bibliography {
    margin-bottom: one-line(0);
    .subchapter {
        margin-bottom: 0;
    }
    h3 {
        @include type-settings(0);
        @include padding(0,0,1,0,0);
    }
    h1 + .subchapter > h3 {
        padding-top: 0;
    }
    p {
        text-indent: 0;
        @include padding(0,0,1,0,0);
    }
}

section#gallery,
section#full-bleed {
    padding-right: 0;
}

.audio,
.video {
    text-align: center;
    @include padding(1,1,1,1,0);
    .figure__large & { padding: 0; }
}

audio,
video {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}


aside.note {
    text-align:left;
    margin:0;
    @include padding(0,0,1,0,0);
    p {
        text-indent: 0;
        a {
            display: inline;
        }
    }
}

.pullquote {
    text-indent: 0;
    font-size: one-em(0);
    @include padding(0, 1, 1, 1, 0);

    section.titlepage &,
    section.introduction &,
    section.afterword & {
        float: none;
        clear: both;
        padding-bottom: four-lines(0);
        padding-top: 0;
    }

    .epigraph & {
        float: none;
        margin-top: 0;
        @include padding(0, 1, 2, 1, 0);
    }
}



section.colophon,
section.appendix,
section.backmatter {
    figure.logo {
        text-indent: 0;
        text-align: left;
        margin:0;
        padding:0;
        img {
            height: auto;
            width: auto;
            text-align: left;
            margin: 0;
            padding: 0;

            @if $build == 'web' {
                width: 80px !important;
            }
        }
    }
}

section.staff {
    h3 {
        text-align: left;
        margin:0;
        padding:0;
        font-weight: bold;
        @include type-settings(-1);
    }
}
.masthead h2 {
    font-weight: 700;
    font-family: inherit;
    padding-top:0;
    text-align: left;
    @include type-settings(-1);
}
