hr {
    width: 30%;
    background-color:$dimgrey;
    padding: 0;
    margin: one-line(0) auto;
    height: 1px;
    border: 0;
    @include following-paragraph-not-indented;
    @include following-element-has-no-top-padding;
}
