
ul {
  @include no-top-padding-element-follows;
  list-style: disc;
  padding:1em 0 1em 2.31em;

  @if $build == web {
    list-style: none;
  }

  li {
    @include font-base;
    text-indent: 0;

    @if $build == web {
      text-indent: -0.6em;
      padding-left: 0.6em;
      &:before {
        content:'-';
        display:inline-block;
        position:relative;
        left:-0.3em;
      }
    }

  }
}

ol {
  @include no-top-padding-element-follows;
  list-style: decimal;
  padding:1em 0 1em 2.31em;
  li{
    @include font-base;
    text-indent: 0;

    @if $build == web {
      text-indent: -0.6em;
      padding-left: 0.6em;
    }
  }

  // Section styles
  body.book_meta &,
  section.colophon &,
  section.appendix & {
    @include tc-rhythm-padding($text-sm);
    li {
      font-weight: normal;
      font-style: normal;
      text-indent: 0;
      @include font-base;
      @include no-indent-follow;
      @include tc-rhythm-sizing($text-sm, $line-sm);
    }
  }
}

dl {
  dt{
    @include font-base;
    text-indent: 0;
  }
  dd{
    @include font-base;
    text-indent: 0;
  }
}
