
// font-face utility mixin
@mixin font-face($font-name, $file-name, $family-name, $category:"",$formats:('ttf', 'otf')) {
  $filepath: "../Fonts/" + $file-name;
  @font-face {
    font-family: "#{$font-name}";
    @each $format in $formats{
      src: url($filepath + "." + $format);
    }
  }
  %#{$font-name} {
    font: {
      @if $category != "" {
        family: "#{$font-name}", #{$category};
      }
      @else {
        family: "#{$font-name}";
        weight: normal;
        style: normal;
      }
    }
  }
}

// General typographic settings
@mixin hyphens($hyphenation:auto) {
  -webkit-hyphens: $hyphenation;
  -epub-hyphens: $hyphenation;
  adobe-hyphenate: $hyphenation;
  -moz-hyphens: $hyphenation;
  -ms-hyphens: $hyphenation;
  hyphens: $hyphenation;
  @if $hyphenation != 'none'{
    word-break: break-all;
    word-break: break-word; // Webkit
  }
}

@mixin widows($n:2) {
  widows: $n;
}

@mixin orphans($n:1) {
  orphans: $n;
}

@mixin text-rendering($value:optimizeLegibility) {
  text-rendering:$value;
}

@mixin font-smoothing{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
