{
  "plugins": [
    "transform-runtime",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "bar": "./bar",
        "cli": "./cli",
        "lib": "./lib",
        "modifiers": "./modifiers",
        "output": "./output",
        "plugins": "./plugins",
        "log": "./plugins/log",
        "shapes": "./shapes",
        "templates": "./templates",
        "utils": "./utils",
      }
    }]
  ],
  "presets": ["es2015", "stage-0"],
  "ignore": [
    "node_modules",
    "**/__tests__/**"
  ],
  "env": {
    "production": {
      "presets": ["babili"]
    },
    "test": {
      "presets": ["es2015", "stage-0"]
    }
  }
}
