{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "presets": ["es2015", "stage-0"],
  "ecmaFeatures": { "classes": true, "jsx": true },
  "plugins": ["babel"],
  "rules": {
    "react/require-extension": 0,
    "import/extensions": [2, "never"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "max-statements-per-line": [2, { "max": 2 }],
    "semi": [2, "never"],
    "comma-dangle": [1, "never"],
    "one-var": [2, "never"],
    "no-cond-assign": [2, "except-parens"],
    "max-len": [2, 100, { "ignoreComments": true }],
    "operator-linebreak": [2, "before"],
    "no-underscore-dangle": [2, { "allowAfterThis": true }],
    "space-before-function-paren": [2, {
        "anonymous": "always",
        "named": "never"
    }]
  }
}
