.DS_Store
.tmp

*.map
*.epub
*.mobi
*.pdf

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json*

/_site
.idea

# used for transpiled ES6
/lib

# build directory for _book
/book*
/_book
/config.yml

/docs
/coverage

# for connecting to third party apps
.auth.json
.credentials.json

