.DS_Store
.tmp

*.map
*.epub
*.mobi
*.pdf

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/_site
/_idea

# used for transpiled JSX
/lib

# build directory for _book
/book*
/_book
/config.yml

/docs
/coverage

.auth.json
.credentials
