vendor
dist
demo
demos
*.config.js
*.loaders.js
packages/b-ber-lib/*.js
packages/b-ber-reader/epub/**/*.js
packages/b-ber-resources/*.js
packages/b-ber-shapes/*.js
packages/b-ber-shapes/dc/*.js
packages/b-ber-shapes/directives/*.js
packages/b-ber-shapes/sequences/*.js
packages/b-ber-templates/*.js
packages/b-ber-templates/Ncx/*.js
packages/b-ber-templates/Opf/*.js
packages/b-ber-templates/Ops/*.js
packages/b-ber-templates/Project/*.js
packages/b-ber-templates/Toc/*.js
packages/b-ber-templates/Xhtml/*.js
packages/b-ber-templates/Xml/*.js
packages/b-ber-templates/figures/*.js
packages/b-ber-themes/b-ber-theme-serif/_settings.scss
packages/b-ber-themes/b-ber-theme-serif/_overrides.scss
packages/b-ber-themes/b-ber-theme-sans/_settings.scss
packages/b-ber-themes/b-ber-theme-sans/_overrides.scss
packages/b-ber-themes/b-ber-theme-serif/_mixins.scss
