*.min.js
**/node_modules/**
**/dist/**
**/demo/**
**/demos/**
packages/b-ber-lib/*.js
packages/b-ber-reader/epub/
packages/b-ber-reader/public/
packages/b-ber-resources/index.js
packages/b-ber-shapes-dublin-core/elements.js
packages/b-ber-shapes-dublin-core/terms.js
packages/b-ber-shapes-dublin-core/index.js
packages/b-ber-shapes-directives/index.js
packages/b-ber-shapes-sequences/index.js
packages/b-ber-shapes-sequences/create-build-sequence.js
packages/b-ber-shapes-sequences/sequences/index.js
packages/b-ber-templates/index.js
packages/b-ber-templates/Ncx/*.js
packages/b-ber-templates/Opf/*.js
packages/b-ber-templates/Ops/*.js
packages/b-ber-templates/Project/*.js
packages/b-ber-templates/Toc/*.js
packages/b-ber-templates/Xhtml/*.js
packages/b-ber-templates/Xml/*.js
packages/b-ber-templates/figures/*.js
packages/b-ber-lib/utils/*.js
packages/b-ber-markdown-renderer/src/highlightjs
packages/b-ber-reader-react/src/constants/index.js