.break-after {
  @if $build == 'reader' {
    @include break-at('md') {
      // Reader: Chrome & Safari
      break-after: column;

      // FireFox: TBD.
      // `break`ing in the column context in FireFox is unsupported, so shims
      // will need to be added on a per-project basis until we find a reliable
      // way of dealing with this
      @-moz-document url-prefix() {
      }
    }
  } @else {
    // Epub, Mobi, PDF ...
    page-break-after: always;
  }
}

.break-before {
  @if $build == 'reader' {
    @include break-at('md') {
      // Reader: Chrome & Safari
      break-before: column;

      // FireFox: TBD.
      @-moz-document url-prefix() {
      }
    }
  } @else {
    // Epub, Mobi, PDF ...
    page-break-before: always;
  }
}
