.break-after {
  @if $build == 'reader' {
    @include break-at('desktop') {
      // Browsers supporting break-after: column
      // https://developer.mozilla.org/en-US/docs/Web/CSS/break-after#support_in_multi-column_layout
      break-after: column;

      // `break`ing in the column context in FireFox is unsupported, target
      // other browsers here too
      @supports not (break-after: column) {
        margin-bottom: 100vh !important;
      }
    }
  } @else {
    // Epub, Mobi, PDF, Web
    page-break-after: always;
  }
}

.break-before {
  @if $build == 'reader' {
    @include break-at('desktop') {
      break-before: column;

      @supports not (break-before: column) {
        margin-top: 100vh !important;
      }
    }
  } @else {
    // Epub, Mobi, PDF, Web
    page-break-before: always;
  }
}
