hr {
  @include following-paragraph-not-indented;
  @include following-element-has-no-top-padding;
  width: 6%;
  background-color: $grey-1;
  padding: 0;
  margin: two-lines(0) auto;
  height: 1px;
  border: 0;
}
