@function table-border($width: 1px, $style: solid, $color: $grey-0) {
  @return $width $style $color;
}

table {
  font-size: 1em;
  page-break-inside: avoid;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: two-lines(0) 0;

  tr {
    font-size: 1em;

    th {
      @include text-small;
      border-top: table-border();
    }

    th,
    td {
      @include text-small;
      @include padding('text-default', 1);
      text-align: left;

      border-left: table-border();
      border-right: table-border();
      border-bottom: table-border();
    }
  }
}
