@import 'base/container';
@import 'base/figure';
@import 'base/layout';
@import 'base/list';
@import 'base/table';
@import 'base/text';


.break-before   { page-break-before: always!important; }
.break-after    { page-break-after: always!important; }
.uppercase      { text-transform: uppercase!important; }
