// wrapper element is injected between opening and closing body tags during
// build

@if $build == 'web' {

    body { padding: 0; }

    // navigation show/hide
    $transition-speed: 250ms;
    $transition-easing: ease;

    $dimensions-large-x: 60px;
    $dimensions-large-y: 60px;
    $dimensions-medium-x: $dimensions-large-x / 2;
    $dimensions-medium-y: $dimensions-large-y / 2;

    .publication {
        position: relative;
        margin-left: 300px;
        transition: margin-left $transition-speed $transition-easing;
        padding: 0 $dimensions-large-x;
    }

    .publication__toc {
        @include type-settings(-7);
        position: fixed;
        z-index: 1;
        top: 0;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        width: 300px;
        transition: transform $transition-speed $transition-easing;
    }


    // header styles
    .publication__header {
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        height: $dimensions-large-y;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            @include type-settings(-1);
            padding: 0;
            margin: 0;
        }

        .header__item__toggle {
            position: absolute;
            left: 0;
        }
    }

    // prev/next arrows
    .publication__nav {
        position: absolute;
        height: 0;
        width: 0;
        .publication__nav__prev,
        .publication__nav__next {
            width: $dimensions-large-x;
            position: fixed;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &:before {
                display: flex;
                position: absolute;
                width: $dimensions-medium-x;
                height: $dimensions-medium-y;
                align-items: center;
                justify-content: center;
            }
        }
        .publication__nav__prev {
            margin-left: $dimensions-large-x * -1;
            &:before {
                content: '←';
            }
        }
        .publication__nav__next {
            right: 0;
            &:before {
                content: '→';
            }
        }
    }


}
