
$mq-mobile: "only screen and (min-width: 320px) and (max-width: 680px)";
$mq-tablet: "only screen and (min-width: 680px) and (max-width: 768px)";
$mq-desktop: "only screen and (min-width: 680px)";
// $ipad-pro-portrait-breakpoint: "(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px)";
// $ipad-pro-landscape-breakpoint: "(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1366px) and (max-width: 1366px)";
$ipad-pro: "(min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px)";// and (min-width: 1024px) and (max-width: 1024px)";
