// font-face utility mixin
// @example     @include font-face('MyFont', 'My-Font-File-Name', ('ttf'), 400, normal);
@mixin font-face(
  $font-name,
  $file-name,
  $formats: ('ttf', 'otf'),
  $weight: 400,
  $style: normal
) {
  $filepath: '../fonts/' + $file-name;
  @font-face {
    font-family: '#{$font-name}';
    @each $format in $formats {
      src: url($filepath+'.'+$format);
    }
    font: {
      weight: $weight;
      style: $style;
    }
  }
}
