// https://github.com/modularscale/modularscale-sass

$build: 'epub';

// Declare namespaces
@namespace url(http://www.w3.org/1999/xhtml);
@namespace epub url(http://www.idpf.org/2007/ops);

// Load vendor libs
@import './node_modules/modularscale-sass/stylesheets/_modularscale';

@import 'theme-settings';
@import 'typography/typography';


// Set @page margin for e-readers
@page { margin:$font-size-base; }


// Text Properties
p {
    @if $text-indent == true {
        text-indent: $font-size-base * 2;
        h1 + &, h2 + &, h3 + &, h4 + &, h5 + &, h6 + & { text-indent: 0; }
    }
}


@import 'layout/layout';
