// Declare namespaces
@namespace url(http://www.w3.org/1999/xhtml);
@namespace epub url(http://www.idpf.org/2007/ops);

// Load vendor libs
// https://github.com/modularscale/modularscale-sass
@import './node_modules/modularscale-sass/stylesheets/_modularscale';

@import 'settings';
@import 'mixins';
@import 'debug';

// Load syntax highlighting
// @import "./node_modules/highlight.js/styles/tomorrow";

// for validation while building on CLI, not an actual setting
$build: 'epub'                  !default;

// Font ratio is set by user, but modular-scale isn't available yet in their
// settings, so we map to values once the lib has loaded
$font-scale: 'fifth'            !default;

$font-ratios: (
    'phi'              : $phi,
    'golden'           : $golden,
    'double-octave'    : $double-octave,
    'major-twelfth'    : $major-twelfth,
    'major-eleventh'   : $major-eleventh,
    'major-tenth'      : $major-tenth,
    'octave'           : $octave,
    'major-seventh'    : $major-seventh,
    'minor-seventh'    : $minor-seventh,
    'major-sixth'      : $major-sixth,
    'minor-sixth'      : $minor-sixth,
    'fifth'            : $fifth,
    'augmented-fourth' : $augmented-fourth,
    'fourth'           : $fourth,
    'major-third'      : $major-third,
    'minor-third'      : $minor-third,
    'major-second'     : $major-second,
    'minor-second'     : $minor-second,
);


$font-ratio: map-get($font-ratios, $font-scale);

// Initialize Modular Scale
//
// @demo http://www.modularscale.com/
// @repo https://github.com/modularscale/modularscale-sass
$modularscale: (
    base: $font-size-base,
    ratio: $font-ratio
);

@import 'vendor/material-icons';
@import 'typography/typography';
@import 'layout/layout';


// base styles
//

html { font-size: 156.25%; } // 25px

// TODO: we're overriding the base font size in `.publication_contents` for the
// web build, but everything should just be sized up to remove redundant
// override
@if $build != 'web' {
    html { font-size: 100%; } // still 25px
    body { padding: 0 one-em(0) * .5; }
}

@if $build == 'web' {
    .publication__contents {
		font-size: 80%; // 20px
    }
    @include break('mobile') {
        .publication__contents {
            font-size: 68%; // 17px
        }
    }
}

@if $debug == true {
    img { background-color: gainsboro; }
}
