
// Bootstrap Baseline Grid
@include establish-baseline;

// Debugging
html {
  @if $debug == true {
    @include debug-vertical-alignment;
  }
  @include break('mobile') { font-size: 112.5%; } // 18px
  @include break('ipad-pro') { font-size: 192.5%; } // 30.8px
}

@page{margin:$base-font-size}
@namespace url(http://www.w3.org/1999/xhtml);
@namespace epub url(http://www.idpf.org/2007/ops);

body{
  margin:0;
  text-indent: 0;
  padding:0;
  font-family:$base-font-family;
  @extend %font-base;
  @include adjust-font-size-to($base-font-size);
  @include hyphens;
  @include widows;
  @include orphans;
  @include text-rendering;
  @include font-smoothing;
}

h1 {
  text-indent: 0;
  text-transform: uppercase;
  @extend %text-center;
  @extend %font-base;
  @include no-indent-follow;
  padding-top: 0;
  padding-bottom: 5.65em;

  &.book-title, &.figures-title {
    @include rhythm-padding(0,0,$text-lg);
  }
}
h2{
  @extend %font-base;
  @extend %text-center;
  @include rhythm-padding(1,1);
  @include no-indent-follow;
  text-indent: 0;
}
h3{
  @extend %font-base;
  @extend %text-center;
  @include rhythm-padding(1,1, $text-sm);
  @include no-indent-follow;
  text-indent: 0;
}
h1,h2,h3,h4,h5,h6{
  @include hyphens(none);
  + p {
    padding-top: 0;
    margin-top: 0;
  }
  span.subtitle{
    text-transform: none;
  }
}
p{
  @extend %font-base;
  text-indent: rhythm(1.65);
  .frontmatter &,
  .backmatter &,
  .book_meta &{
    text-indent: 0;
    @include tc-rhythm-padding($text-sm);
  }
}
ul {
  @include no-top-padding-element-follows;
  list-style: disc;
  padding:1em 0 1em 2.31em;

  // TODO: browser only
  list-style: none;

  li{
    @extend %font-base;
    text-indent: 0;

    // TODO: browser only
    text-indent: -0.6em;
    padding-left: 0.6em;
    &:before {
      content:'-';
      display:inline-block;
      position:relative;
      left:-0.3em;
    }
  }
}
ol {
  @include no-top-padding-element-follows;
  list-style: decimal;
  padding:1em 0 1em 2.31em;
  li{
    @extend %font-base;
    text-indent: 0;

    // TODO: following is browser only
    text-indent: -0.6em;
    padding-left: 0.6em;
  }
}

dl {
  dt{
    @extend %font-base;
    text-indent: 0;
  }
  dd{
    @extend %font-base;
    text-indent: 0;
  }
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 1em 0;
  tr{
    th { border-top: 1px solid $black; }
    th, td{
      @extend %font-base;
      text-align: left;
      padding: 1em;
      border-left: 1px solid $black;
      border-right: 1px solid $black;
      border-bottom: 1px solid $black;
    }
  }
}

blockquote {
  @extend %font-base;
  @include no-top-padding-element-follows;
  padding: 0.9em 2.31em 0.95em 2.31em;
  text-indent: 0;
  p {
    text-indent: 0;
    @include tc-rhythm-sizing($text-xs, $line-xs);
    @include adjust-leading-to(0.91);
  }
}

hr {
  padding: 0;
  margin: 2em 0;
  height: 1px;
  width: 100%;
  background-color: $black;
  @include no-indent-follow;
  @include no-top-padding-element-follows;
}

header{}
main{}
section{}

aside.note{
  text-align:left;
  margin:0;
  padding: 0 0 rhythm(1) 0;
  p{
    text-indent: 0;
    a{
      display: inline;
      margin:0;
      padding:0;
    }
  }
}

figure{}
figcaption{}
footer{}

sup{
  @extend %font-base;
  font-size: 0.52em;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  top: -1em;
}
sub{
  @extend %font-base;
  font-size: 0.52em;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  bottom: -0.5em;
}
small{
  @extend %font-base;
  @include tc-rhythm-sizing($text-sm, $line-sm);
}
code,
pre{
  @extend %font-base;
  padding: rhythm(1);
  background-color: $light-grey;
  white-space: pre;
}
a,a:active,a:visited,a:focus,a:hover{}
i{
  font-weight: 400;
  font-style: italic;
  font-family: inherit;
  b, strong{
    font-weight: 700;
    font-style: italic;
  }
}
em{
  font-weight: 400;
  font-style: italic;
  font-family: inherit;
  b, strong{
    font-weight: 700;
    font-style: italic;
  }
  em{
    font-weight: 400;
    font-style: normal;
  }
}
strong,b{
  font-weight: 700;
  font-style: normal;
  font-family: inherit;
  em, i{
    font-weight: 700;
    font-style: italic;
  }
}
