
section p:first-child,
section div.figure-sm + p,
header + p {
  text-indent: 0;
}

section.break-before a + div.figure-sm {
  padding-top:0;
}

section{
  clear: both;
  &:after{
    content: ' ';
    display: table;
    clear: both;
  }
}

// @namespace selectors haven't been fully implemented yet:
//   https://developer.mozilla.org/en-US/docs/Web/CSS/@namespace
//
epub|section[type=chapter],
section.chapter {

  // Caution: this is useful for development, but it's important to ensure
  // that this is removed/commented out for deployment, because pages will
  // be split along `section.chapter`s, and leaving this in will create
  // 'blank pages'.
  //
  // page-break-after:auto;
}

epub|section[type=subchapter],
section.subchapter {
  margin-bottom: rhythm(1, $base-font-size);
  + section.subchapter > header > h2 {
    padding-top: 0;
  }
}

epub|section[type=bibliography],
section.bibliography {
  margin-bottom: rhythm(1, $base-font-size);
  h1 {
    margin-bottom: 0;
    padding-bottom:1.4em;
    line-height: 1.4;
  }
  .subchapter{
    margin-bottom: 0;
  }
  h3{
    padding-top: 0;
    padding-bottom: 1.4em;
    line-height: 1.4;
  }
  p{
    text-indent: 0;
    padding-top: 0;
    padding-bottom: 1.4em;
  }
}

// Custom layout for non-linear content
//
body.non-linear section:first-child {
  padding: 150px $text-lg $text-lg $text-lg;
  p:first-child{
    padding-top: 0;
  }
}
body.backmatter{
  h1{
    text-transform: uppercase;
    padding: 0;
    @include rhythm-padding(0,2,$text-md);
    @include tc-rhythm-sizing($text-sm, $line-sm);
  }
  h2{
    @include tc-rhythm-sizing($text-md, $line-md);
    @include tc-rhythm-padding($text-md);
    padding:rhythm(0.5) 0 0 0;
  }
}



.figure-inline{
  @include figure;
}
.figure-lg{
  @include figure(100);
  text-align: left;
}
.pull-quote{
  float: left;
  text-indent: 0;
  padding: 0.8em rhythm(1.65); // TODO: optically adjusted
  p,cite{
    @include no-indent-follow;
    @include tc-rhythm-sizing($text-xs, $line-xs);
    @include adjust-leading-to(0.91);
  }
  p{
    font-weight: normal;
    font-style: italic;
    text-indent: 0;
    @include no-indent-follow;
    em{
      font-style: normal;
    }
  }
  cite {
    float: right;
    font-weight: normal;
    text-indent: 0;
    display: block;
    text-align: right;
    width: 75%;
    margin-left: 25%;
  }
  + p{
    text-indent: 0;
  }
  h1 + &,
  .pull-quote + &{
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 1.87em;
  }
}

.pull-quote.full-width cite{
  margin-left: 0;
  width: 100%;
}

.epigraph .pull-quote{
  float:none;
  p, cite{
    float: none;
    width: 100%;
    @extend %text-center;
    @include no-indent-follow;
    @include tc-rhythm-sizing($text-base, $line-base);
    @include adjust-leading-to(1);
  }
}

.fn,
.note,
.fn-ref{
  @extend %text-small;
  a{
    text-decoration: none;
    display: inline-block;
    margin-left: 0.89rem;
  }
}
a.fn,
a.note,
a.fn-ref{
  @extend %text-small;
  text-decoration: none;
}

.uppercase{
  text-transform: uppercase;
}

// Section styles
//
body.book_meta,
epub|section[type=colophon],
section.colophon,
epub|section[type=appendix],
section.appendix{
  p{
    font-weight: normal;
    font-style: normal;
    text-indent: 0;
    @extend %font-base;
    @include no-indent-follow;
    @include tc-rhythm-sizing($text-sm, $line-sm);
    @include tc-rhythm-padding($text-sm);
  }
  ol{
    @include tc-rhythm-padding($text-sm);
    li{
      font-weight: normal;
      font-style: normal;
      text-indent: 0;
      @extend %font-base;
      @include no-indent-follow;
      @include tc-rhythm-sizing($text-sm, $line-sm);
    }
  }
  figure#Triple-Canopy.logo {
    text-indent: 0;
    text-align: left;
    margin:0;
    padding:0;
    img{
      height:auto;
      text-indent: 0;
      text-align: left;
      margin:0;
      padding:12px 0 0 0;
    }
  }
}


// Adjustments to book meta
//
section.staff {
  h3 {
    text-align: left;
    margin:0;
    padding:0;
    font-weight: bold;
    @include tc-rhythm-sizing($text-sm, $line-sm);
  }
}
.masthead h2 {
  font-weight: 700;
  font-family: inherit;
  padding-top:0;
  text-align: left;
  @include tc-rhythm-sizing($text-sm, $line-sm);
}

// Helpers
//
.break-before{
  page-break-before: always!important;
}
.break-after{
  page-break-after: always!important;
}
