
// Settings `$debug` to `true` will draw a simple baseline grid throughout the
// document
//
$debug:false;

$white:#fff;
$dark:#000;
$bg-color:$white;
$text-color:$dark;
$light-grey:#eee;

$text-xxxs:17px;  // source, footnote
$line-xxxs:25px;
$text-xxs:18px;   // quote
$line-xxs:25px;
$text-xs:21px;    // blockquote, dialogue
$line-xs:27px;
$text-sm:23px;    // appendix title, appendix text
$line-sm:30px;
$text-md:19px;    // non-linear content
$line-md:25px;
$text-base:25px;  // body
$line-base:35px;
$text-lg:23px;    // h1
$line-lg:30px;


$base-font-family: Iowan, "Iowan", Georgia, Times, "Times New Roman", serif;
$sans-serif: Helvetica, "Helvetica", Arial, sans-serif;
$serif:$base-font-family;
$monospace:Menlo, Osaka, Monaco, monospace;
