// Set @page margin for e-readers
@page {
    margin: em-to-px($font-size-base * 2);
}

@import 'base/container';
@import 'base/figure';
@import 'base/layout';
@import 'base/list';
@import 'base/table';
@import 'base/text';
@import 'base/web'; // conditional styles
@import 'base/reader'; // conditional styles
@import 'base/print'; // for print views and PDF generation

.break-before {
    page-break-before: always !important; // sass-lint:disable-line no-important
}
.break-after {
    page-break-after: always !important; // sass-lint:disable-line no-important
}
.uppercase {
    text-transform: uppercase !important; // sass-lint:disable-line no-important
}
