
//
//
// `.figure-xx`/`.figure__xx` classes are containers for figure elements, the
// `figure` element itself is styled immediately below
//


// mixins
//


@mixin caption {
    @include type-settings(-5);
    line-height: 1.55; // TODO: calculate based on tininess
    margin-bottom: 0;
    text-align: left;
    text-indent: 0!important;
}


// Element styles
figure {
    @include following-paragraph-not-indented;
    margin: 0 auto;
    padding: 0;

    img {
        display: inline-block;
        margin: 0 auto;
        vertical-align: top;
    }

    .figcaption, figcaption {
        @include following-paragraph-not-indented;
        // width: 50%;
        display: inline-block;
        text-align: left;
        a {
            text-decoration: none;
        }
    }

}

.figure__small img {}
.figure__medium img {}
.figure__large img {
    &.landscape {
        width: 100%;
    }
}
.figure__inline img {}


//
// Base container styles
// New class names  Legacy class names
.figure__small,     .figure-sm,
.figure__medium,    .figure-md,
.figure__large,     .figure-lg,
.figure__inline,    .figure-inline
{
    page-break-inside: avoid;
    text-align: center;
}

.figure__inline,
.figure-inline { // legacy
    &.figure__large,
    &.figure-lg { // legacy
        page-break-before: always;
        page-break-after: always;
        // @include padding(1,0,1,0,0); // in case readers don't respect page-break, at least there's a bit of space
    }
}

.figure__large.figure__inline {
    .epigraph & {
        margin-top: 0;
    }
}


// Containers for inline images (used in text flow)
.figure__small,
.figure-sm {

    // sizes for the images
    &.figure__small--landscape,         // new class names
    &.figure__small--square,            // new class names
    &.figure__small--portrait,          // new class names
    &.figure__small--portrait-high,    // new class names

    &.landscape,                        // legacy
    &.square,                           // legacy
    &.portrait,                         // legacy
    &.portraitLong {                    // legacy
        @include padding(1,0,1,0,0);
        h1 + & { padding-top: 0 }
        figure, a, img { width: auto; }
    }


    a {
        // display: block; // GB
        margin:0 auto;
    }


    + blockquote,
    + blockquote.dialogue { padding-top: 0; }


    &.figure__small--landscape,         // new class names
    &.landscape                         // legacy
    {
        figure, a, img {
            height: n-lines($landscape-image-height, 0);
        }
    }

    &.figure__small--square,            // new class names
    &.square                            // legacy
    {
        figure, a, img {
            height: n-lines($square-image-height, 0);
        }
    }



    &.figure__small--portrait,          // new class names
    &.portrait                         // legacy
    {
        figure, a, img {
            height: n-lines($portrait-image-height, 0);
        }
    }


    &.figure__small--portrait-high,    // new class names
    &.portraitLong                      // legacy
    {
        figure, a, img {
            height: n-lines($portrait-image--high-height, 0);
        }
    }
}


// Images used in epigraph
.figure-md {
    text-align: center;
    page-break-inside: avoid;
    // height: 350px!important;
    height: n-ems(14, 0);

    .epigraph & {
        margin-top: 0!important;
        padding-top: 0!important;
        page-break-inside: avoid;
    }
}




// `figcaption` element and `.figcaption` class both refer to the same
// element because the `figcaption` element is not supported on some
// readers
figcaption,
.figcaption {
    text-align: center;
    width: 100%;
    @include following-paragraph-not-indented;
    // @include type-settings(-3);

    display: inline-block;
    a { text-decoration: none; }


    p.small {
        @include caption;
    }

    .figure__large &,
    .figure-lg & {
        // width: 90%;
        margin: 0;
        padding: 0;
    }
}

p.caption {
    @include caption;
}

.media__fallback__audio,
.media__fallback__video {}

.media__fallback--image {}

.media__fallback--text {
    @include caption;
}

.figure__items {
    width: 100%;
    a { text-decoration: none!important; }
    .epigraph & { padding-top: 7px; }
}

