{
  "globals": {
    "describe": true,
    "beforeEach": true,
    "afterEach": true,
    "before": true,
    "after": true,
    "it": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0
  }
}
