.images-full-bleed {
    .figure__large.figure__inline {
        grid-column: 1 / span 12;
    }
}

.images-staggered {
    .figure__large.figure__inline {
        margin: 0;
        &:first-of-type {
            margin-top: one-line(0);
        }
        &:last-of-type {
            margin-bottom: one-line(0);
        }
        &:nth-of-type(odd) {
            grid-column: 6 / span 7;
        }
        &:nth-of-type(even) {
            grid-column: 1 / span 7;
        }
    }
}


.publication__contents .text-image-columns {
    *:not(section) {
        grid-column: 2 / span 10;
    }
    .column-text {
        grid-column: 1/span 9;
        grid-row: 1/2;
    }
    .column-images {
        grid-column: 10/span 2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;

        .figure__large.figure__inline {
            margin: 0;
        }
    }
}
