@include font-face('Crimson', 'TC-crimson-roman-webfont', ('ttf'));
@include font-face('Crimson', 'TC-crimson-bold-webfont', ('ttf'), 700);
@include font-face('Crimson', 'TC-crimson-bolditalic-webfont', ('ttf'), 700, italic);
@include font-face('Crimson', 'TC-crimson-italic-webfont', ('ttf'), 400, italic);
