@if $debug == true {
  #debug-grid {
    font-family: 'debug';
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
  .line {
    position: absolute;
    pointer-events: none;
    height: 1px;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    background-color: #ffc0cb;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    width: 100%;
    background-color: rgba(255, 255, 0, 0.2);
  }
}
