
@mixin font-face($font-name, $file-name, $family-name, $category:"",$formats:('ttf', 'otf')) {
  $filepath: "../Fonts/" + $file-name;
  @font-face {
    font-family: "#{$font-name}";
    @each $format in $formats{
      src: url($filepath + "." + $format);
    }
  }
  %#{$font-name} {
    font: {
      @if $category != "" {
        family: "#{$font-name}", #{$category};
      }
      @else {
        family: "#{$font-name}";
        weight: normal;
        style: normal;
      }
    }
  }
}

@mixin footnote($max-width: 45){
  @include rhythm(0.5, 0, 0, 0, $text-xs);
  @include no-indent-follow;
  @extend %font-base;
  @include tc-rhythm-sizing($text-xxxs, $line-xxs);
}

@mixin figure($max-width: 45){
  @extend %no-break;
  @extend %text-center;
  @include rhythm(0,0,1.5,0,$base-font-size);
  @include no-indent-follow;
  img{
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
    // width: percentage($max-width/110);
    // max-width: percentage($max-width/110);
  }
  figcaption{
    @include footnote;
    width: percentage($max-width/110);
    display: inline-block;
    text-align: left;
    a {
      text-decoration: none;
    }
  }
}

@mixin no-indent-follow{
  + p {
    text-indent: 0;
  }
}

@mixin tc-rhythm-sizing($font-size, $line-height){
  @include adjust-font-size-to($font-size);
  @include adjust-leading-to(lines-for-font-size($font-size)*.95);
}

@mixin tc-rhythm-padding($font-size){
  @include rhythm-padding(0, lines-for-font-size($font-size)/2, $font-size);
}

%font-base{
  font-weight:normal;
  font-style:normal;
  @include rhythm(0,0,0,0,$base-font-size);
}
%no-break{
  width: 100%;
  page-break-inside: avoid;
}

%text-center{
  text-align: center;
}
%text-small{
  @include adjust-font-size-to($text-xs);
}
%text-medium{
  @include adjust-font-size-to($text-md);
}
%bullet-container{
  text-indent: 0;
  margin-left: rhythm(1, $base-font-size);
}
%bullet{
  display: inline-block;
  text-indent: rhythm(-1, $base-font-size);
}
