
@mixin hyphens($hyphenation:auto){
  -webkit-hyphens: $hyphenation;
  -epub-hyphens: $hyphenation;
  adobe-hyphenate: $hyphenation;
  -moz-hyphens: $hyphenation;
  -ms-hyphens: $hyphenation;
  hyphens: $hyphenation;
  @if $hyphenation != 'none'{
    word-break: break-all;
    // Webkit
    word-break: break-word;
  }
}
@mixin widows($n:2){
  widows: $n;
}
@mixin orphans($n:1){
  orphans: $n;
}
@mixin text-rendering($value:optimizeLegibility){
  text-rendering:$value;
}
@mixin font-smoothing{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
