.bber-grid__debug {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;

  .bber-grid__debug__line {
    background-color: #6495ed;
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    color: #fff;
    padding-top: 50px;
    text-align: center;
  }
}
