@font-face {
  font-family: 'CrimsonPro';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/CrimsonPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'CrimsonPro';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/CrimsonPro-Medium.ttf') format('truetype');
}
