@font-face {
  font-family: 'CrimsonPro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/CrimsonPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CrimsonPro';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/CrimsonPro-SemiBold.ttf') format('truetype');
}
