// TODO .bber-footnote__body
.footnote__body {
  visibility: visible;
  display: block;
  background: $white;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: absolute;
  font-size: $font-size-serif;
  line-height: 1.6;
  z-index: 1000;

  &.footnote__body--hidden {
    visibility: hidden;
  }
}

// .footnote__content {}

.footnote__content--count {
  padding-right: 10px;
}
