.bber-spinner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: $white;
}

.bber-spinner--visible {
  display: block;
}

// https://github.com/tobiasahlin/SpinKit/blob/master/examples/5-pulse.html
@keyframes pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.bber-spinner__detail {
  position: absolute;
  top: calc(50% - #{$spinner-size / 2});
  left: calc(50% - #{$spinner-size / 2});
  width: $spinner-size;
  height: $spinner-size;
  margin: 0;
  padding: 0;
  background-color: $black;
  border-radius: 100%;
  animation: pulse 1s infinite ease-in-out;
}
