// sass-lint:disable no-important,nesting-depth
$white: rgba(255, 255, 255, 1);
$black: rgba(34, 34, 34, 1);
$blue: rgba(105, 105, 252, 1);
$violet: rgba(80, 80, 197, 1);
$grey-light: rgba(211, 211, 211, 1);

$small: 35px;
$medium: 47px;

$transition-speed-slow: 300ms;
$transition-speed-normal: 200ms;
$transition-speed-fast: 100ms;
$transition-easing: ease;

$anmiation-speed-normal: 250ms;
$anmiation-speed-slow: 2500ms;

// The following media queries should be kept in sync with constants in
// src/constants.js

// Max. supported 'mobile' size (iPhone XS/R); Only applies to menu, so not used
// in constants.js
$mobile-breakpoint-max: 414px;
$tablet-breakpoint-max: 768px;

$font-family-serif: Georgia, 'Iowan', Times, serif;
$font-size-serif: 14px;

$font-family-sans: Arial, Helvetica, sans-serif;
$font-size-sans: 0.8rem;

$spinner-size: 40px;
