@namespace url(http://www.w3.org/1999/xhtml);
@namespace epub url(http://www.idpf.org/2007/ops);
/* line 2, ../_debug.scss */
#debug-grid {
  font-family: 'debug';
  font-size: 1em;
  line-height: 1.3; }

/* line 7, ../_debug.scss */
.line {
  position: absolute;
  pointer-events: none;
  height: 1px;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  background-color: pink; }

/* line 18, ../_debug.scss */
h1, h2, h3, h4, h5, h6, p {
  width: 100%;
  background-color: rgba(255, 255, 0, 0.2); }

@font-face {
  font-family: "Crimson";
  src: url("../fonts/TC-crimson-roman-webfont.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Crimson";
  src: url("../fonts/TC-crimson-bold-webfont.ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Crimson";
  src: url("../fonts/TC-crimson-bolditalic-webfont.ttf");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: "Crimson";
  src: url("../fonts/TC-crimson-italic-webfont.ttf");
  font-weight: 400;
  font-style: italic; }
/* line 1, ../typography/_reset.scss */
html {
  font-size: 100%; }

/* line 2, ../typography/_reset.scss */
body {
  box-sizing: border-box; }

/* line 3, ../typography/_reset.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

@page {
  margin: 32px; }
/* line 2, ../layout/base/_container.scss */
body {
  margin: 0;
  text-indent: 0;
  padding: 0;
  font-family: Iowan, Georgia, Times, serif;
  font-size: 1em;
  line-height: 1.3;
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  adobe-hyphenate: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-all;
  word-break: break-word;
  widows: 2;
  orphans: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 15, ../layout/base/_container.scss */
blockquote {
  margin: 0;
  font-size: 1em;
  padding: 1.3em 1em 1.3em 1em; }
  /* line 185, ../_mixins.scss */
  blockquote + table, blockquote + ul, blockquote + ol, blockquote + dl, blockquote + blockquote {
    padding-top: 0; }
  /* line 186, ../_mixins.scss */
  blockquote + hr {
    margin-top: 1.3em; }

/* line 24, ../layout/base/_container.scss */
section {
  clear: both; }
  /* line 26, ../layout/base/_container.scss */
  section:after {
    content: ' ';
    display: table;
    clear: both; }

/* line 33, ../layout/base/_container.scss */
section p:first-child,
section div.figure-sm + p,
header + p {
  text-indent: 0; }

/* line 39, ../layout/base/_container.scss */
section.break-before a + div.figure-sm {
  padding-top: 0; }

/* line 43, ../layout/base/_container.scss */
section.subchapter {
  margin-bottom: 1.3em; }
  /* line 45, ../layout/base/_container.scss */
  section.subchapter + section.subchapter > header > h2 {
    padding-top: 0; }

/* line 50, ../layout/base/_container.scss */
section.bibliography {
  margin-bottom: 1.3em; }
  /* line 52, ../layout/base/_container.scss */
  section.bibliography .subchapter {
    margin-bottom: 0; }
  /* line 55, ../layout/base/_container.scss */
  section.bibliography h3 {
    font-size: 1em;
    line-height: 1.3;
    padding: 0em 0em 1.3em 0em; }
  /* line 59, ../layout/base/_container.scss */
  section.bibliography h1 + .subchapter > h3 {
    padding-top: 0; }
  /* line 62, ../layout/base/_container.scss */
  section.bibliography p {
    text-indent: 0;
    padding: 0em 0em 1.3em 0em; }

/* line 69, ../layout/base/_container.scss */
aside.note {
  text-align: left;
  margin: 0;
  padding: 0em 0em 1.3em 0em; }
  /* line 73, ../layout/base/_container.scss */
  aside.note p {
    text-indent: 0; }
    /* line 75, ../layout/base/_container.scss */
    aside.note p a {
      display: inline; }

/* line 81, ../layout/base/_container.scss */
.pullquote {
  text-indent: 0;
  font-size: 1em;
  padding: 0em 1em 1.3em 1em; }
  /* line 86, ../layout/base/_container.scss */
  section.titlepage .pullquote, section.introduction .pullquote, section.afterword .pullquote {
    float: none;
    clear: both;
    padding-bottom: 5.2em;
    padding-top: 0; }
  /* line 95, ../layout/base/_container.scss */
  .epigraph .pullquote {
    float: none;
    margin-top: 0;
    padding: 0em 1em 0em 1em; }

/* line 107, ../layout/base/_container.scss */
section.colophon figure.logo,
section.appendix figure.logo,
section.backmatter figure.logo {
  text-indent: 0;
  text-align: left;
  margin: 0;
  padding: 0; }
  /* line 112, ../layout/base/_container.scss */
  section.colophon figure.logo img,
  section.appendix figure.logo img,
  section.backmatter figure.logo img {
    height: auto;
    text-indent: 0;
    text-align: left;
    margin: 0;
    padding: 12px 0 0 0; }

/* line 123, ../layout/base/_container.scss */
section.staff h3 {
  text-align: left;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 0.9374999997em;
  line-height: 1.3866666671; }

/* line 131, ../layout/base/_container.scss */
.masthead h2 {
  font-weight: 700;
  font-family: inherit;
  padding-top: 0;
  text-align: left;
  font-size: 0.9374999997em;
  line-height: 1.3866666671; }

/* line 10, ../layout/base/_figure.scss */
figure {
  margin: 0 auto;
  padding: 0; }
  /* line 182, ../_mixins.scss */
  figure + p {
    text-indent: 0; }
  /* line 15, ../layout/base/_figure.scss */
  figure img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top; }
  /* line 21, ../layout/base/_figure.scss */
  figure .figcaption, figure figcaption {
    display: inline-block;
    text-align: left; }
    /* line 182, ../_mixins.scss */
    figure .figcaption + p, figure figcaption + p {
      text-indent: 0; }
    /* line 26, ../layout/base/_figure.scss */
    figure .figcaption a, figure figcaption a {
      text-decoration: none; }

/* line 40, ../layout/base/_figure.scss */
.figure__small, .figure-sm,
.figure__medium, .figure-md,
.figure__large, .figure-lg,
.figure__inline, .figure-inline {
  page-break-inside: avoid;
  text-align: center; }

/* line 56, ../layout/base/_figure.scss */
.figure__small.figure__small--landscape, .figure__small.figure__small--square, .figure__small.figure__small--portrait, .figure__small.figure__small--portrait--high, .figure__small.landscape, .figure__small.square, .figure__small.portrait, .figure__small.portraitLong,
.figure-sm.figure__small--landscape,
.figure-sm.figure__small--square,
.figure-sm.figure__small--portrait,
.figure-sm.figure__small--portrait--high,
.figure-sm.landscape,
.figure-sm.square,
.figure-sm.portrait,
.figure-sm.portraitLong {
  padding: 1.3em 0em 1.3em 0em; }
  /* line 66, ../layout/base/_figure.scss */
  h1 + .figure__small.figure__small--landscape, h1 + .figure__small.figure__small--square, h1 + .figure__small.figure__small--portrait, h1 + .figure__small.figure__small--portrait--high, h1 + .figure__small.landscape, h1 + .figure__small.square, h1 + .figure__small.portrait, h1 + .figure__small.portraitLong, h1 +
  .figure-sm.figure__small--landscape, h1 +
  .figure-sm.figure__small--square, h1 +
  .figure-sm.figure__small--portrait, h1 +
  .figure-sm.figure__small--portrait--high, h1 +
  .figure-sm.landscape, h1 +
  .figure-sm.square, h1 +
  .figure-sm.portrait, h1 +
  .figure-sm.portraitLong {
    padding-top: 0; }
  /* line 67, ../layout/base/_figure.scss */
  .figure__small.figure__small--landscape figure, .figure__small.figure__small--landscape a, .figure__small.figure__small--landscape img, .figure__small.figure__small--square figure, .figure__small.figure__small--square a, .figure__small.figure__small--square img, .figure__small.figure__small--portrait figure, .figure__small.figure__small--portrait a, .figure__small.figure__small--portrait img, .figure__small.figure__small--portrait--high figure, .figure__small.figure__small--portrait--high a, .figure__small.figure__small--portrait--high img, .figure__small.landscape figure, .figure__small.landscape a, .figure__small.landscape img, .figure__small.square figure, .figure__small.square a, .figure__small.square img, .figure__small.portrait figure, .figure__small.portrait a, .figure__small.portrait img, .figure__small.portraitLong figure, .figure__small.portraitLong a, .figure__small.portraitLong img,
  .figure-sm.figure__small--landscape figure,
  .figure-sm.figure__small--landscape a,
  .figure-sm.figure__small--landscape img,
  .figure-sm.figure__small--square figure,
  .figure-sm.figure__small--square a,
  .figure-sm.figure__small--square img,
  .figure-sm.figure__small--portrait figure,
  .figure-sm.figure__small--portrait a,
  .figure-sm.figure__small--portrait img,
  .figure-sm.figure__small--portrait--high figure,
  .figure-sm.figure__small--portrait--high a,
  .figure-sm.figure__small--portrait--high img,
  .figure-sm.landscape figure,
  .figure-sm.landscape a,
  .figure-sm.landscape img,
  .figure-sm.square figure,
  .figure-sm.square a,
  .figure-sm.square img,
  .figure-sm.portrait figure,
  .figure-sm.portrait a,
  .figure-sm.portrait img,
  .figure-sm.portraitLong figure,
  .figure-sm.portraitLong a,
  .figure-sm.portraitLong img {
    width: auto; }
/* line 71, ../layout/base/_figure.scss */
.figure__small a,
.figure-sm a {
  display: block;
  margin: 0 auto; }
/* line 77, ../layout/base/_figure.scss */
.figure__small + blockquote,
.figure__small + blockquote.dialogue,
.figure-sm + blockquote,
.figure-sm + blockquote.dialogue {
  padding-top: 0; }
/* line 84, ../layout/base/_figure.scss */
.figure__small.figure__small--landscape figure, .figure__small.figure__small--landscape a, .figure__small.figure__small--landscape img, .figure__small.landscape figure, .figure__small.landscape a, .figure__small.landscape img,
.figure-sm.figure__small--landscape figure,
.figure-sm.figure__small--landscape a,
.figure-sm.figure__small--landscape img,
.figure-sm.landscape figure,
.figure-sm.landscape a,
.figure-sm.landscape img {
  height: 5em; }
/* line 92, ../layout/base/_figure.scss */
.figure__small.figure__small--square figure, .figure__small.figure__small--square a, .figure__small.figure__small--square img, .figure__small.square figure, .figure__small.square a, .figure__small.square img,
.figure-sm.figure__small--square figure,
.figure-sm.figure__small--square a,
.figure-sm.figure__small--square img,
.figure-sm.square figure,
.figure-sm.square a,
.figure-sm.square img {
  height: 5em; }
/* line 102, ../layout/base/_figure.scss */
.figure__small.figure__small--portrait figure, .figure__small.figure__small--portrait a, .figure__small.figure__small--portrait img, .figure__small.portrait figure, .figure__small.portrait a, .figure__small.portrait img,
.figure-sm.figure__small--portrait figure,
.figure-sm.figure__small--portrait a,
.figure-sm.figure__small--portrait img,
.figure-sm.portrait figure,
.figure-sm.portrait a,
.figure-sm.portrait img {
  height: 7em; }
/* line 111, ../layout/base/_figure.scss */
.figure__small.figure__small--portrait--high figure, .figure__small.figure__small--portrait--high a, .figure__small.figure__small--portrait--high img, .figure__small.portraitLong figure, .figure__small.portraitLong a, .figure__small.portraitLong img,
.figure-sm.figure__small--portrait--high figure,
.figure-sm.figure__small--portrait--high a,
.figure-sm.figure__small--portrait--high img,
.figure-sm.portraitLong figure,
.figure-sm.portraitLong a,
.figure-sm.portraitLong img {
  height: 7em; }

/* line 119, ../layout/base/_figure.scss */
.figure-md {
  text-align: center;
  page-break-inside: avoid;
  height: 14em; }
  /* line 125, ../layout/base/_figure.scss */
  .epigraph .figure-md {
    margin-top: 0 !important;
    padding-top: 0 !important;
    page-break-inside: avoid; }

/* line 139, ../layout/base/_figure.scss */
figcaption, .figcaption {
  text-align: center;
  width: 100%;
  display: inline-block; }
  /* line 182, ../_mixins.scss */
  figcaption + p, .figcaption + p {
    text-indent: 0; }
  /* line 146, ../layout/base/_figure.scss */
  figcaption a, .figcaption a {
    text-decoration: none; }
  /* line 149, ../layout/base/_figure.scss */
  figcaption p.small, .figcaption p.small {
    font-size: 0.6365007707em;
    line-height: 2.0424170085;
    line-height: 1.55;
    margin-bottom: 0;
    text-align: left;
    text-indent: 0 !important; }
  /* line 157, ../layout/base/_figure.scss */
  .figure__large figcaption, .figure-lg figcaption, .figure__large .figcaption, .figure-lg .figcaption {
    margin: 0;
    padding: 0; }

/* line 165, ../layout/base/_figure.scss */
.img-wrap {
  width: 100%; }
  /* line 167, ../layout/base/_figure.scss */
  .img-wrap a {
    text-decoration: none !important; }
  /* line 168, ../layout/base/_figure.scss */
  .epigraph .img-wrap {
    padding-top: 7px; }

/* line 1, ../layout/base/_layout.scss */
hr {
  padding: 0;
  margin: 2.6em 0;
  height: 1px;
  width: 100%;
  background-color: #222;
  border: 0; }
  /* line 182, ../_mixins.scss */
  hr + p {
    text-indent: 0; }
  /* line 185, ../_mixins.scss */
  hr + table, hr + ul, hr + ol, hr + dl, hr + blockquote {
    padding-top: 0; }
  /* line 186, ../_mixins.scss */
  hr + hr {
    margin-top: 1.3em; }

/* line 1, ../layout/base/_list.scss */
ul {
  padding: 1.3em 0em 1.3em 2em;
  list-style: disc; }
  /* line 185, ../_mixins.scss */
  ul + table, ul + ul, ul + ol, ul + dl, ul + blockquote {
    padding-top: 0; }
  /* line 186, ../_mixins.scss */
  ul + hr {
    margin-top: 1.3em; }
  /* line 10, ../layout/base/_list.scss */
  ul li {
    font-size: 1em;
    line-height: 1.3;
    text-indent: 0; }

/* line 28, ../layout/base/_list.scss */
ol {
  padding: 1.3em 0em 1.3em 2em;
  list-style: decimal; }
  /* line 185, ../_mixins.scss */
  ol + table, ol + ul, ol + ol, ol + dl, ol + blockquote {
    padding-top: 0; }
  /* line 186, ../_mixins.scss */
  ol + hr {
    margin-top: 1.3em; }
  /* line 33, ../layout/base/_list.scss */
  ol li {
    font-size: 1em;
    line-height: 1.3;
    text-indent: 0; }
  /* line 44, ../layout/base/_list.scss */
  section.colophon ol, section.appendix ol, section.backmatter ol {
    padding: 0em 0.9374999997em 0em 0.9374999997em; }
    /* line 48, ../layout/base/_list.scss */
    section.colophon ol li, section.appendix ol li, section.backmatter ol li {
      font-weight: normal;
      font-style: normal;
      text-indent: 0;
      font-size: 0.9374999997em;
      line-height: 1.3866666671; }
      /* line 182, ../_mixins.scss */
      section.colophon ol li + p, section.appendix ol li + p, section.backmatter ol li + p {
        text-indent: 0; }

/* line 59, ../layout/base/_list.scss */
dl dd {
  font-size: 1em;
  line-height: 1.3;
  text-indent: 0; }
/* line 63, ../layout/base/_list.scss */
dl dt {
  font-size: 1em;
  line-height: 1.3;
  text-indent: 0; }

/* line 2, ../layout/base/_table.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 1em 0; }
  /* line 8, ../layout/base/_table.scss */
  table tr th {
    border-top: 1px solid #222; }
  /* line 9, ../layout/base/_table.scss */
  table tr th, table tr td {
    font-size: 1em;
    line-height: 1.3;
    text-align: left;
    padding: 1em;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222; }

/* line 4, ../layout/base/_text.scss */
h1 {
  font-size: 1.4728968807em;
  line-height: 1.7652288046; }

/* line 5, ../layout/base/_text.scss */
h2 {
  font-size: 1.3808408252em;
  line-height: 1.8829107255; }

/* line 6, ../layout/base/_text.scss */
h3 {
  font-size: 1.2945382732em;
  line-height: 1.0042190539; }

/* line 7, ../layout/base/_text.scss */
h4 {
  font-size: 1.2136296308em;
  line-height: 1.0711669912; }

/* line 8, ../layout/base/_text.scss */
h5 {
  font-size: 1.1377777785em;
  line-height: 1.1425781243; }

/* line 9, ../layout/base/_text.scss */
h6 {
  font-size: 1.066666667em;
  line-height: 1.2187499996; }

/* line 10, ../layout/base/_text.scss */
p {
  font-size: 1em;
  line-height: 1.3; }

/* line 13, ../layout/base/_text.scss */
p {
  text-indent: 1em !important; }
  /* line 16, ../layout/base/_text.scss */
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    text-indent: 0 !important; }

/* line 22, ../layout/base/_text.scss */
h1, h2, h3, h4, h5, h6 {
  text-indent: 0;
  text-transform: none;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  adobe-hyphenate: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-size: 1em;
  line-height: 1.3; }
  /* line 182, ../_mixins.scss */
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    text-indent: 0; }

/* line 36, ../layout/base/_text.scss */
h1 {
  padding: 0em 0em 5.2em 0em; }
  /* line 39, ../layout/base/_text.scss */
  h1.book-title, h1.figures-title {
    padding: 0; }
  /* line 44, ../layout/base/_text.scss */
  section.backmatter h1 {
    padding: 2.7733333342em 0em 2.7733333342em 0em;
    font-size: 0.9374999997em;
    line-height: 1.3866666671; }

/* line 50, ../layout/base/_text.scss */
h2 {
  padding: 1.3em 0em 1.3em 0em; }
  /* line 53, ../layout/base/_text.scss */
  section.backmatter h2 {
    font-size: 0.9374999997em;
    line-height: 1.3866666671;
    padding: 1.3866666671em 0em 0em 0em; }

/* line 60, ../layout/base/_text.scss */
p {
  font-size: 1em;
  line-height: 1.3;
  text-indent: 1em; }
  /* line 64, ../layout/base/_text.scss */
  blockquote p {
    text-indent: 0 !important;
    margin-bottom: 0 !important;
    font-size: 0.8789062495em;
    line-height: 1.479111112; }
  /* line 71, ../layout/base/_text.scss */
  section.frontmatter p, section.colophon p, section.appendix p,
  p section.backmatter {
    text-indent: 0 !important;
    font-size: 0.9374999997em;
    line-height: 1.3866666671;
    padding: 0em 0em 1.3866666671em 0em; }
    /* line 182, ../_mixins.scss */
    section.frontmatter p + p, section.colophon p + p, section.appendix p + p,
    p section.backmatter + p {
      text-indent: 0; }
  /* line 81, ../layout/base/_text.scss */
  .figcaption p {
    text-indent: 0; }
  /* line 85, ../layout/base/_text.scss */
  .pullquote p {
    text-indent: 0 !important;
    margin-bottom: 0 !important;
    font-style: italic;
    font-weight: normal;
    font-size: 0.8789062495em;
    line-height: 1.479111112; }
    /* line 182, ../_mixins.scss */
    .pullquote p + p {
      text-indent: 0; }
  /* line 94, ../layout/base/_text.scss */
  .pullquote + p {
    text-indent: 0 !important; }
  /* line 98, ../layout/base/_text.scss */
  .epigraph .pullquote p {
    float: none;
    width: 100%;
    margin-top: 0 !important;
    padding-top: 0 !important;
    text-align: center; }
    /* line 182, ../_mixins.scss */
    .epigraph .pullquote p + p {
      text-indent: 0; }

/* line 109, ../layout/base/_text.scss */
.pullquote cite {
  font-size: 0.8789062495em;
  line-height: 1.479111112;
  font-weight: normal;
  text-indent: 0;
  display: block;
  text-align: right;
  width: 75%;
  margin-left: 25%; }
  /* line 182, ../_mixins.scss */
  .pullquote cite + p {
    text-indent: 0; }
/* line 119, ../layout/base/_text.scss */
.pullquote.full-width cite {
  margin-left: 0;
  width: 100%; }
/* line 123, ../layout/base/_text.scss */
.epigraph .pullquote cite {
  float: none;
  width: 100%;
  text-align: center; }
  /* line 182, ../_mixins.scss */
  .epigraph .pullquote cite + p {
    text-indent: 0; }

/* line 132, ../layout/base/_text.scss */
.end-notes header + p {
  margin-top: 0; }

/* line 137, ../layout/base/_text.scss */
sup, a.footnote-ref,
sub {
  font-size: 0.7724761953em;
  line-height: 1.6828997552;
  vertical-align: baseline;
  position: relative; }

/* line 144, ../layout/base/_text.scss */
sup, a.footnote-ref {
  top: -0.7724761953em; }

/* line 145, ../layout/base/_text.scss */
sub {
  bottom: 0.7724761953em; }

/* line 147, ../layout/base/_text.scss */
small {
  font-size: 0.7724761953em;
  line-height: 1.6828997552; }

/* line 151, ../layout/base/_text.scss */
code,
pre {
  font-size: 1em;
  line-height: 1.3;
  padding: 1.3em 1em 1.3em 1em;
  background-color: #eee;
  white-space: pre; }

/* line 159, ../layout/base/_text.scss */
i {
  font-weight: 400;
  font-style: italic;
  font-family: inherit; }
  /* line 163, ../layout/base/_text.scss */
  i b, i strong {
    font-weight: 700;
    font-style: italic; }

/* line 169, ../layout/base/_text.scss */
em {
  font-weight: 400;
  font-style: italic;
  font-family: inherit; }
  /* line 173, ../layout/base/_text.scss */
  em b, em strong {
    font-weight: 700;
    font-style: italic; }
  /* line 177, ../layout/base/_text.scss */
  em em, .pullquote p em {
    font-weight: 400;
    font-style: normal; }

/* line 183, ../layout/base/_text.scss */
strong, b {
  font-weight: 700;
  font-style: normal;
  font-family: inherit; }
  /* line 187, ../layout/base/_text.scss */
  strong em, strong i, b em, b i {
    font-weight: 700;
    font-style: italic; }

/* line 198, ../layout/base/_text.scss */
aside.footnote {
  margin-left: 1em; }
  /* line 200, ../layout/base/_text.scss */
  aside.footnote a.footnote-link {
    display: inline-block;
    text-indent: -1em; }

/* line 206, ../layout/base/_text.scss */
ol.footnotes {
  margin: 0; }
  /* line 208, ../layout/base/_text.scss */
  ol.footnotes li {
    padding: 0;
    margin: 0;
    text-indent: 0 !important;
    font-size: 1em;
    margin-left: -1em; }
    /* line 214, ../layout/base/_text.scss */
    ol.footnotes li p {
      text-indent: 0 !important; }
    /* line 215, ../layout/base/_text.scss */
    ol.footnotes li a {
      text-decoration: none !important; }
    /* line 216, ../layout/base/_text.scss */
    ol.footnotes li span.hidden-backlink {
      display: inline; }

/* line 12, ../layout/_layout.scss */
.break-before {
  page-break-before: always !important; }

/* line 13, ../layout/_layout.scss */
.break-after {
  page-break-after: always !important; }

/* line 14, ../layout/_layout.scss */
.uppercase {
  text-transform: uppercase !important; }

/* line 1, ../_dev.scss */
html {
  font-size: 160%; }

/* line 3, ../_dev.scss */
body {
  padding: 0 0.5em; }

/* line 4, ../_dev.scss */
img {
  background-color: gainsboro; }

/* line 6, ../_dev.scss */
h1 {
  font-size: 1em;
  line-height: 1.3; }

/* line 7, ../_dev.scss */
h2 {
  font-size: 1em;
  line-height: 1.3; }

/* line 8, ../_dev.scss */
h3 {
  font-size: 1em;
  line-height: 1.3; }

/* line 9, ../_dev.scss */
h4 {
  font-size: 1em;
  line-height: 1.3; }

/* line 10, ../_dev.scss */
h5 {
  font-size: 1em;
  line-height: 1.3; }

/* line 11, ../_dev.scss */
h6 {
  font-size: 1em;
  line-height: 1.3; }

/* line 12, ../_dev.scss */
p {
  font-size: 1em;
  line-height: 1.3; }

/*# sourceMappingURL=application.css.map */
