/*! © Triple Canopy 2017 */

@import '../default/application.scss';

//
// extends _text.scss
//
p {
  .pull-quote & {
    text-indent: 0;
    font-style: italic;
    font-weight: normal;
    @include no-indent-follow;
    @include tc-rhythm-sizing($text-xs, $line-xs);
    @include adjust-leading-to(0.91);
  }

  .epigraph .pull-quote & {
    float: none;
    width: 100%;
    margin-top: 0!important;
    padding-top: 0!important;
    @include text-center;
    @include no-indent-follow;
    @include tc-rhythm-sizing($text-base, $line-base);
    @include adjust-leading-to(1);
  }
}

cite {
  .pull-quote & {
    @include no-indent-follow;
    @include tc-rhythm-sizing($text-xs, $line-xs);
    @include adjust-leading-to(0.91);
    float: right;
    font-weight: normal;
    text-indent: 0;
    display: block;
    text-align: right;
    width: 75%;
    margin-left: 25%;
  }
  .pull-quote.full-width & {
    margin-left: 0;
    width: 100%;
  }
  .epigraph .pull-quote & {
    float: none;
    width: 100%;
    @include text-center;
    @include no-indent-follow;
    @include tc-rhythm-sizing($text-base, $line-base);
    @include adjust-leading-to(1);
  }
}

//
// extends _layout.scss
//
section.colophon,
section.appendix,
section.backmatter {
  figure#Triple-Canopy.logo {
    text-indent: 0;
    text-align: left;
    margin:0;
    padding:0;
    img{
      height:auto;
      text-indent: 0;
      text-align: left;
      margin:0;
      padding:12px 0 0 0;
    }
  }
}


// Adjustments to book meta
section.staff {
  h3 {
    text-align: left;
    margin:0;
    padding:0;
    font-weight: bold;
    @include tc-rhythm-sizing($text-sm, $line-sm);
  }
}
.masthead h2 {
  font-weight: 700;
  font-family: inherit;
  padding-top:0;
  text-align: left;
  @include tc-rhythm-sizing($text-sm, $line-sm);
}

//
// extends _figure.scss
//
.figure-md { // Large inline images (used in epigraph)
  text-align: center;
  page-break-inside: avoid;
  height: 350px!important;
  figcaption,
  .figcaption {
    text-align: center;
    width: 100%;
  }

  .epigraph & {
    margin-top: 0!important;
    padding-top: 0!important;
    page-break-inside:avoid;
  }
}

.figure-sm { // Small inline images (used in text flow)
  text-align: center;
  a {
    display: block;
    margin:0 auto;
  }
  &.landscape,
  &.square {
    padding-top:1.35em;
    padding-bottom:1.23em;
    padding-left:0;
    padding-right:0;
    figure, a, img {
      width: auto;
      height: 4.3em; // 108px
    }
  }
  &.portrait,
  &.portraitLong {
    padding-top:1.35em;
    padding-bottom:1.23em;
    padding-left:0;
    padding-right:0;
    figure, a, img {
      width: auto;
      height: 6.4em; // 160px
    }
  } //
  + blockquote, + blockquote.dialogue {
    padding-top: 0;
  }
}

// Figures pages
figcaption,
.figcaption {
  @include footnote;
  @include rhythm(0.2, 0, 0, 0, $text-xs);
  display: inline-block;
  a { text-decoration: none; }
  .figure-lg & {
    padding-top: 0;
    padding-bottom: 0;
    font-size: .68em;
    line-height: 2.05882em;
    line-height: 1.33em;
    display: block;
    text-align: left;
    margin-top: .83333em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}
.img-wrap {
  width: 100%;
  a { text-decoration: none!important; }
  .epigraph & { padding-top: 7px; }
}


//
// extends _container.scss
//
.pull-quote {
  text-indent: 0;
  padding: 0.8em rhythm(1.65); // TODO: optically adjusted

  section.titlepage &,
  section.introduction &,
  section.afterword & {
    float: none;
    clear: both;
    padding-bottom: 5.65em;
    padding-top: 0.2em;
  }

  .epigraph & {
    float: none;
    padding-top: 0;
    padding-bottom: 1.4em;
    margin-top: 0;
  }
  + p { text-indent: 0; }
  h1 + &,
  .pull-quote + & { padding-top: 0; }
  &:last-child { padding-bottom: 1.87em; }
}
