body {
  @include type-settings(0);
  @include hyphens;
  @include widows;
  @include orphans;
  @include text-rendering;
  @include font-smoothing;
  margin: 0;
  text-indent: 0;
  padding: 0;
  font-family: $font-family-base;
}

blockquote {
  @include following-element-has-no-top-padding;
  @include padding(1, 1, 1, 1, 0);
  margin: 0;
  font-size: one-em(0);
}

section {
  clear: both;
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

header {
  @include following-paragraph-not-indented;
}

section.break-before a + div.figure__small {
  padding-top: 0;
}

section.subchapter {
  margin-bottom: one-line(0);
  + section.subchapter > header > h2 {
    padding-top: 0;
  }
  section.colophon &,
  section.afterword &,
  section.seriespage &,
  section.credits &,
  section.contributors &,
  section.appendix & {
    margin-bottom: 0;
  }
}

section.bibliography {
  margin-bottom: one-line(0);
  .subchapter {
    margin-bottom: 0;
  }
  h3 {
    @include type-settings(0);
    @include padding(0, 0, 1, 0, 0);
  }
  h1 + .subchapter > h3 {
    padding-top: 0;
  }
  p {
    @include padding(0, 0, 1, 0, 0);
    text-indent: 0;
  }
}

.audio,
.video {
  @include padding(1, 1, 1, 1, 0);
  text-align: center;
  .figure__large & {
    padding: 0;
  }
}

.video {
  &.video--4x3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  &.video--16x9 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  &.video--21x0 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

audio,
video {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

aside.note {
  @include padding(0, 0, 1, 0, 0);
  text-align: left;
  margin: 0;
  p {
    text-indent: 0;
    a {
      display: inline;
    }
  }
}

.pullquote {
  @include padding(0, 1, 1, 1, 0);
  text-indent: 0;
  font-size: one-em(0);

  section.titlepage &,
  section.introduction &,
  section.afterword & {
    float: none;
    clear: both;
    padding-bottom: four-lines(0);
    padding-top: 0;
  }

  .epigraph & {
    @include padding(0, 1, 2, 1, 0);
    float: none;
    margin-top: 0;
  }
}

section.colophon,
section.appendix,
section.backmatter {
  figure.logo {
    text-indent: 0;
    text-align: left;
    margin: 0;
    padding: 0;
    img {
      height: auto;
      width: auto;
      text-align: left;
      margin: 0;
      padding: 0;
      @if $build == 'web' {
        width: 60px !important; // sass-lint:disable-line no-important
      }
      @if $build == 'reader' {
        width: 60px !important; // sass-lint:disable-line no-important
      }
    }
  }
}

section.staff {
  h3 {
    @include type-settings(-1);
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
}

.masthead h2 {
  @include type-settings(-1);
  font-weight: 700;
  font-family: inherit;
  padding-top: 0;
  text-align: left;
}
