// `.figure__xx` classes are containers for figure elements. The
// `figure` element is styled immediately below.

//
// Element styles
//

figure {
  @include following-paragraph-not-indented;
  margin: 0 auto;
  padding: 0;
  img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    width: 100%;
  }

  .figcaption,
  figcaption {
    @include following-paragraph-not-indented;
    display: inline-block;
    text-align: left;
  }
}

.figure__small img {
}
.figure__medium img {
}
.figure__large img {
  &.landscape {
    width: 100%;
  }
}
.figure__inline img {
}

// Base container styles
.figure__small,
.figure__medium,
.figure__large,
.figure__inline {
  page-break-inside: avoid;
  text-align: center;
}

.figure__large {
  // Space is added in the event that readers don't respect the page-break atrribute.
  @include padding(1, 0, 1, 0, 0);
  page-break-before: always;
  page-break-after: always;
}

// Basic spread styles to have page break. Further styling for Reader found in _reader.scss.
.spread {
  page-break-inside: avoid;
  page-break-before: always;
  page-break-after: always;
}

#layout.context__desktop {
  // desktop context only
  .figure__large,
  .spread {
    padding: 0;
  }

  // TODO: the following vendor prefixed rules don't seem to do anything - we
  // need to determine if they can be removed altogether, or if we should
  // replace them with the following code:

  // .figure__large {
  //     break-after: always;
  //     break-before: always;
  // }
  // .figure__fullbleed {
  //     break-before: avoid !important;
  //     break-after: avoid !important;
  // }

  .figure__large {
    -webkit-column-break-after: always; // sass-lint:disable-line no-vendor-prefixes
    -webkit-column-break-before: always; // sass-lint:disable-line no-vendor-prefixes
  }
  .figure__fullbleed {
    -webkit-column-break-before: avoid !important; // sass-lint:disable-line no-important,no-vendor-prefixes
    -webkit-column-break-after: avoid !important; // sass-lint:disable-line no-important,no-vendor-prefixes
  }
}

.figure__large.figure__inline {
  .epigraph & {
    margin-top: 0;
  }
}

// Containers for inline images (used in text flow)
.figure__small {
  // sizes for the images
  &.figure__small--landscape,
  &.figure__small--square,
  &.figure__small--portrait,
  &.figure__small--portrait-high {
    @include padding(1, 0, 1, 0, 0);
    h1 + & {
      padding-top: 0;
    }
    figure,
    a,
    img {
      width: auto;
    }
  }

  a {
    text-decoration: none !important;
    margin: 0 auto;
  }

  + blockquote,
  + blockquote.dialogue {
    padding-top: 0;
  }

  &.figure__small--landscape {
    figure,
    a,
    img {
      height: n-lines($landscape-image-height, 0);
    }
  }

  &.figure__small--square {
    figure,
    a,
    img {
      height: n-lines($square-image-height, 0);
    }
  }

  &.figure__small--portrait {
    figure,
    a,
    img {
      height: n-lines($portrait-image-height, 0);
    }
  }

  &.figure__small--portrait-high {
    figure,
    a,
    img {
      height: n-lines($portrait-image--high-height, 0);
    }
  }
}

// Images used in epigraph.
.figure__medium {
  text-align: center;
  page-break-inside: avoid;
  // height: 350px!important; // sass-lint:disable-line no-important
  height: n-ems(14, 0);

  .epigraph & {
    margin-top: 0 !important; // sass-lint:disable-line no-important
    padding-top: 0 !important; // sass-lint:disable-line no-important
    page-break-inside: avoid;
  }
}

// `figcaption` element and `.figcaption` class both refer to the same
// element because the `figcaption` element is not supported on some
// readers.
figcaption,
.figcaption {
  @include following-paragraph-not-indented;
  text-align: center;
  width: 100%;
  display: inline-block;

  p.small {
    @include caption;
    width: 90%;
  }

  a {
    text-decoration: underline;
  }
}

p.caption {
  @include caption;
  a {
    text-decoration: underline;
  }
}

.media__fallback {
}

.media__fallback__audio,
.media__fallback__video,
.media__fallback__vimeo,
.media__fallback__iframe {
}

.media__fallback--image {
}

.media__fallback--text {
  @include caption;
}

// Inline figure sizes
.figure__items {
  width: 100%;
  margin: 0 auto;
  > a {
    text-decoration: none;
  }
  .epigraph & {
    padding-top: 7px;
  }
  .figure__inline--square & {
    width: 80%;
  }
  .figure__inline--landscape & {
    width: 100%;
  }
  .figure__inline--portrait & {
    width: 60%;
  }
  .figure__inline--portrait-high & {
    width: 48%;
  }
}

//
// updates re: https://github.com/triplecanopy/b-ber/issues/295
//

// figure with media styles
.figure__large.figure__large--iframe,
.figure__large.figure__large--media {
  figure {
    .figure__items {
      .figcaption {
        max-width: 100%;
      }
    }
  }
}

// figure with image styles
@if $build == 'reader' {
  // portrait
  .figure__large.figure__inline.figure__inline--portrait,
  .figure__large.figure__large--portrait {
    figure {
      .figure__items {
        width: 60%;
        margin: 0 auto;
        img.portrait,
        img.fullbleed {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
        .figcaption {
          width: 100%;
          max-width: 100%;
          height: auto;
          .small {
          }
        }
      }
    }
  }

  // landscape
  .figure__large.figure__inline.figure__inline--landscape,
  .figure__large.figure__large--landscape,
  .figure__large.figure__large--16x9,
  .figure__large.figure__large--21x9 {
    figure {
      .figure__items {
        width: 100%;
        .vimeo {
          width: 100%;
        }
        iframe {
          width: 100%;
          height: 100%;
        }
        img.landscape,
        img.fullbleed {
          max-width: 100%;
        }
        .figcaption {
          max-width: 100%;
          .small {
          }
        }
      }
    }
  }

  // portrait-high
  .figure__large.figure__inline.figure__inline--portrait-high,
  .figure__large.figure__large--portrait-high {
    figure {
      .figure__items {
        width: 48%;
        margin: 0 auto;
        img.portrait-high,
        img.fullbleed {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
        .figcaption {
          width: 100%;
          max-width: 100%;
          height: auto;
          .small {
          }
        }
      }
    }
  }

  // square
  .figure__large.figure__inline.figure__inline--square,
  .figure__large.figure__large--square,
  .figure__large.figure__large--4x3 {
    figure {
      .figure__items {
        width: 80%;
        margin: 0 auto;
        .vimeo {
          width: 100%;
        }
        iframe {
          width: 100%;
          height: 100%;
        }
        img.square,
        img.fullbleed {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
        .figcaption {
          width: 100%;
          max-width: 100%;
          height: auto;
          .small {
          }
        }
      }
    }
  }
} @else if $build == 'mobi' {
  // portrait
  .figure__large.figure__inline.figure__inline--portrait,
  .figure__large.figure__large--portrait {
    figure {
      .figure__items {
        width: 70%;
        margin: 0 auto;
        img.portrait,
        img.fullbleed {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
        .figcaption {
          width: 100%;
          max-width: 100%;
          height: auto;
          .small {
          }
        }
      }
    }
  }

  // landscape
  .figure__large.figure__inline.figure__inline--landscape,
  .figure__large.figure__large--landscape {
    figure {
      .figure__items {
        img.landscape,
        img.fullbleed {
          max-width: 100%;
        }
        .figcaption {
          max-width: 100%;
          .small {
          }
        }
      }
    }
  }

  // portrait-high
  .figure__large.figure__inline.figure__inline--portrait-high,
  .figure__large.figure__large--portrait-high {
    figure {
      .figure__items {
        width: 60%;
        margin: 0 auto;
        img.portrait-high,
        img.fullbleed {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
        .figcaption {
          width: 100%;
          max-width: 100%;
          height: auto;
          .small {
          }
        }
      }
    }
  }

  // square
  .figure__large.figure__inline.figure__inline--square,
  .figure__large.figure__large--square {
    figure {
      .figure__items {
        width: 85%;
        margin: 0 auto;
        img.square,
        img.fullbleed {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
        .figcaption {
          width: 100%;
          max-width: 100%;
          height: auto;
          .small {
          }
        }
      }
    }
  }
} @else {
  // fallback for all other builds for each of the different possible image
  // formats

  // portrait
  .figure__large.figure__inline.figure__inline--portrait,
  .figure__large.figure__large--portrait {
    figure {
      .figure__items {
        width: 70%;
        margin: 0 auto;
        img.portrait,
        img.fullbleed {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
        .figcaption {
          width: 100%;
          max-width: 100%;
          height: auto;
          .small {
          }
        }
      }
    }
  }

  // landscape
  .figure__large.figure__inline.figure__inline--landscape,
  .figure__large.figure__large--landscape {
    figure {
      .figure__items {
        img.landscape,
        img.fullbleed {
          max-width: 100%;
        }
        .figcaption {
          max-width: 100%;
          .small {
          }
        }
      }
    }
  }

  // portrait-high
  .figure__large.figure__inline.figure__inline--portrait-high,
  .figure__large.figure__large--portrait-high {
    figure {
      .figure__items {
        width: 60%;
        margin: 0 auto;
        img.portrait-high,
        img.fullbleed {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
        .figcaption {
          width: 100%;
          max-width: 100%;
          height: auto;
          .small {
          }
        }
      }
    }
  }

  // square
  .figure__large.figure__inline.figure__inline--square,
  .figure__large.figure__large--square {
    figure {
      .figure__items {
        width: 85%;
        margin: 0 auto;
        img.square,
        img.fullbleed {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
        .figcaption {
          width: 100%;
          max-width: 100%;
          height: auto;
          .small {
          }
        }
      }
    }
  }
}
