// sass-lint:disable indentation

@if $build == 'reader' {
    // Caption styling.
    figure {
        .figcaption,
        figcaption {
            padding-top: 8px;
            display: block;
        }
    }
    $line-height-base: 1.4;

    // Fullbleed Image styling.
    .figure__fullbleed.figure__inline--landscape .figure__items {
        height: 100vh;
        margin: 0;
        width: 100vw;
        img {
            height: 100vh;
            object-fit: cover;
        }
        .figcaption {
            bottom: 50px;
            display: inline-block;
            left: 25px;
            margin: 0;
            padding: 0;
            position: absolute;
        }
    }
    // Spread Styling
    .spread {
        section {
            height: 100vh;
            width: 100vw;
        }
    }

    // Gallery Styling This sets up a layout for galleries that contains 12
    // columns and two rows by default and is responsive.

    section.gallery .figure__gallery {
        .figure__items {
            @include grid-layout;
            width: 85vw;
            height: 75vh;
            margin-top: 75px;
            padding: 0;
            .gallery__item {
                grid-column: grid-item();
            }
        }
    }

    // Mobile Overrides for Fullbleed, spreads, and galleries.
    @include break('mobile') {
        // Gallery
        section.gallery .figure__gallery .figure__items {
            margin-top: 0;
        }
        // Fullbleed
        .figure__fullbleed.figure__inline--landscape .figure__items {
            height: auto;
            margin: 0 auto;
            width: auto;
            img {
                height: auto;
                object-fit: cover;
            }
            .figcaption {
                bottom: auto;
                display: inline-block;
                left: auto;
                margin: 0;
                padding: 0;
                position: relative;
            }
        }
        // Spread
        .spread {
            section {
                height: auto;
                width: auto;
            }
        }
    }
}
