// Web build. These styles will be added to the main stylesheet when running
// `bber build --web`.
//
// The b-ber web layout uses CSS Grid for a multi-column layout. The default
// styles create a container with three rows (header, content, and footer), and
// twelve columns.
//
// In addition, the web build creates navigation and info panels that can be
// updated in individual themes, or by porting the SCSS below into a child
// theme.


// Default vertical column count. If this is changed, values below need to be
// manually updated as well.
$web-grid-columns: 12;

// Some handy mixins. These are declared above the `@if $build == ...` styles,
// since we can't declare mixins in a conditional statement in SCSS.
@mixin web-grid-container() {
    display: grid;
    grid-template-columns: repeat($web-grid-columns, 1fr);
}

@mixin web-grid-full-width() {
    grid-column: 1 / span $web-grid-columns;
}

@mixin web-navigation-link() {  // These are the links that appear in the navigation sidebar (the table of contents).
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: $black;
    font-weight: 500;
    letter-spacing: 0.02em;
}

// Conditional styles for the web build. The `web` variable is set dynamically
// during build when running `bber build --web`
@if $build == 'web' {

    // Some base styles
    body { padding: 0; }
    button {
        appearance: none;
        background: transparent;
        border: 0;
        padding: 5px;
        outline: none;

        &:active, &:focus {
            outline: none;
        }
    }



    // Some variables for spacing, sizing, and transitions.
    //
    // Show/hide the navigation panels (TOC and info sidebar)
    $transition-speed: 250ms;
    $transition-easing: ease;

    // Basi spacing
    $dimensions-extra-large-x: 96px;
    $dimensions-extra-large-y: 96px;

    $dimensions-large-x: $dimensions-extra-large-x / 2;
    $dimensions-large-y: $dimensions-extra-large-y / 2;

    $dimensions-medium-x: $dimensions-large-x / 2;
    $dimensions-medium-y: $dimensions-large-y / 2;

    $cell-large-width: $dimensions-extra-large-x * 3;

    // The `publication` element is the main CSS Grid, it contains both vertical
    // and horizontal grid elements
    .publication {
        min-height: 100vh;
        position: relative;
        margin: 0;
        padding: 0;
        transition: padding-right $transition-speed $transition-easing;

        display: grid;
        grid-template-columns: repeat($web-grid-columns, 1fr);
        grid-template-rows: $dimensions-large-y auto $dimensions-extra-large-y;
        grid-gap: 0;
    }

    // Search bar which is wrapped in the navigation panel
    .publication__search {
        height: $dimensions-large-x;

        display: flex;
        align-items: stretch;
        flex-direction: row;

        .publication__search__input {
            height: $dimensions-large-x;
            @include type-settings(-2);
            width: calc(100% - #{two-ems(0)});
            border: 0;
            border-bottom: 1px solid $grey;
            display: block;
            margin: 0;
            padding: 0 one-em(0);
        }
        .publication__search__button {
            border-bottom: 1px solid $grey;
            padding: 8px;
            height: $dimensions-large-y + 1;
        }
    }

    // The table of contents. An ordered, nested list.
    .publication__toc {
        transform: translateX(-100%);
        @include type-settings(-7);
        position: fixed;
        z-index: 2;
        top: 0;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        border-right: 1px solid $grey;
        background-color: $white;
        width: $cell-large-width;
        transition: transform $transition-speed $transition-easing;

        ol, ul, li, a { @include web-navigation-link; }

        & > ol { padding-right: 15px; }
        ol li,
        ul li {
            white-space: nowrap;        // Hide the overflow on longer TOC entries, will become
                                        // problematic for deeply nested structures.
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 5px 0;
            &:last-child { margin: 0; }
        }
        ol ul, ol ol {
            padding: 0 0 0 one-em(0);
        }
    }

    .publication__info {
        transform: translateX(100%);
        @include type-settings(-7);
        position: fixed;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        border-left: 1px solid $grey;
        width: $cell-large-width;
        transition: transform $transition-speed $transition-easing;

        ol, ul, li, a { @include web-navigation-link; }

        & > ol { padding-right: 15px; }
        ol li,
        ul li {
            white-space: nowrap;        // Hide the overflow on longer TOC entries, will become
                                        // problematic for deeply nested structures.
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 5px 0;
            &:last-child { margin: 0; }
        }
        ol ul, ol ol {
            padding: 0 0 0 one-em(0);
        }
    }


    body.toc--visible {                 // The `toc--visible` class is toggled via JavaScript in
                                        // the footer of the generated HTML pages.
        .publication__toc {
            transform: translateX(0);
        }
        .header__item__toggle--toc {
            left: $cell-large-width;
        }
    }

    body.info--visible {
        .publication__info {
            transform: translateX(0);
        }
        .publication {
            padding-right: $cell-large-width;
        }
    }


    // Header styles
    .publication__header {
        @include type-settings(-7);
        @include web-grid-full-width;
        grid-row: 1;

        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        height: $dimensions-large-y;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $black;

        h1 {
            @include type-settings(-2);
            padding: 0;
            margin: 0;
            a { @include web-navigation-link; }
        }

        .header__item__toggle { // Toggle nav buttons
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .header__item__toggle--toc {
            transition: left $transition-speed $transition-easing;
            left: 0;
        }
        .header__item__toggle--info {
            right: 0;
        }
    }

    // Prev / next arrows in the footer
    .publication__nav {
        @include web-grid-container; // We can't use `display: subgrid` so we re-declare
        transition: width $transition-speed $transition-easing;
        height: $dimensions-extra-large-y;

        grid-column: 2 / span 10;
        grid-row: 3;
        align-items: end;

        .publication__nav__link {
            color: $black;
        }

        .publication__nav__prev,
        .publication__nav__next {

            width: auto;
            height: $dimensions-large-y;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        .publication__nav__prev {
            grid-column: 1;
            justify-content: flex-start;
        }
        .publication__nav__next {
            grid-column: 12;
            justify-content: flex-end;
        }
    }

    // All of the publication's content gets dropped into the
    // `publication__contents` element during web task.
    //
    // For the CSS Grid layout to function propertly (i.e., allow a user to
    // apply styles to child elements in the layout such as full-bleed images),
    // we set the `publication__contents` to span the entire n columns, and then
    // apply a smaller default column-span to all of the containing elements.
    //
    // This also means that, for the layout to function properly, *all elements
    // should be wrapped in `section` elements*. b-ber allows a user to do this
    // easily by using container directives, like `::: chapter`.
    //
    .publication__contents {
        @include padding(4,0,3,0,0);
        grid-row: 2;

        @include web-grid-container;            // We can't use `display: subgrid` so we re-declare
        @include web-grid-full-width;           // `publication__contents` spans the entire page
        grid-template-rows: max-content;        // https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows
        * { @include web-grid-full-width; }     // All elements (except for `sections`, see below) also span the entire page

        section {                               // `section` elements are also CSS Grid containers
            @include web-grid-container;
            @include web-grid-full-width;
            *:not(section) { grid-column: 3 / span 8; }     // All child elements of a `section` (except for other `section`s)
                                                            // span a smaller area by default. This allows overrides to be
                                                            // easily applied to child elements in `_overrides.scss` to create
                                                            // more complex layouts.
        }
    }

    // The first page (index.html) of the generated web build is the
    // publication's cover image, which is wrapped in a link that leads to the
    // first page of text
    .cover__image__link {
        display: block;
        height: calc(100vh - #{n-lines(8, 0)} - #{$dimensions-large-y});
    }
    .cover__image {
        max-height: 100%;
    }

    // Search results layout. Search results are added and removed to/from the
    // `publication__contents` element dynamically on search
    .search__results {
        margin-top: three-lines(0) * -1;
    }
    .search__result {
        @include type-settings(-5);
        line-height: 1.35;
        margin-bottom: one-line(0);

        * {
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-style: normal;
            text-indent: 0;
            text-align: left;
            font-family: $sans;
        }

    }
    .search__result__link {
        text-decoration: none;
        color: darken($grey, 30%);

        mark { // Search terms that are found in the text are highlighted bold.
            color: $black;
            font-weight: 700;
            background-color: transparent;
        }
    }

    // The context around the found search term, i.e., 100 characters on either
    // side of the text around the found search term
    .search__result__text {
        display: inline-block;
        padding: 0.3621em 0; // TODO: using `padding` mixin
    }

    // Dev
    // full-bleed images
    // .figure__large.figure__inline {
    //     @include web-grid-full-width;
    // }


}
