// wrapper element is injected between opening and closing body tags during
// build


@mixin grid-container() {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

@if $build == 'web' {

    body { padding: 0; }

    // navigation show/hide
    $transition-speed: 250ms;
    $transition-easing: ease;

    $dimensions-large-x: 48px;
    $dimensions-large-y: 48px;
    $dimensions-medium-x: $dimensions-large-x / 2;
    $dimensions-medium-y: $dimensions-large-y / 2;

    $cell-large-width: 300px;

    $grid-column-span: 3 / span 8;

    .publication {
        min-height: 100vh;
        position: relative;
        margin: 0 0 0 $cell-large-width;
        padding: 0;
        transition: margin-left $transition-speed $transition-easing;
        border:1px solid $black;

        // @include grid-container;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: $dimensions-large-y auto $dimensions-large-y;


        // grid-gap: 2%;
        grid-gap: 0;
        border:1px solid $black;

        & > * {
            grid-column: 4 / span 6;
        }
    }

    .publication__toc {
        @include type-settings(-7);
        position: fixed;
        z-index: 1;
        top: 0;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        width: $cell-large-width;
        transition: transform $transition-speed $transition-easing;
    }

    body.nav--closed {
        .publication__toc {
            transform: translateX(-100%);
        }
        .publication {
            margin-left: 0;
        }
    }


    // header styles
    .publication__header {
        grid-column: $grid-column-span;
        grid-row: 1;

        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        height: $dimensions-large-y;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            @include type-settings(-1);
            padding: 0;
            margin: 0;
        }

        .header__item__toggle {
            position: absolute;
            left: 0;
        }
    }

    // prev/next arrows
    .publication__nav {
        @include grid-container; // can't use `display: subgrid` so we re-declare
        position: fixed;

        transition: width $transition-speed $transition-easing;
        width: calc(100% - 300px);
        body.nav--closed & {
            width: 100%;
        }

        height: $dimensions-large-y;
        bottom: 0;

        background: lightblue;

        grid-column: $grid-column-span;
        grid-row: 3;

        .publication__nav__prev,
        .publication__nav__next {
            background: coral;

            width: auto;
            height: $dimensions-large-y;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        .publication__nav__prev {
            grid-column: 3;
            justify-content: flex-start;
        }
        .publication__nav__next {
            grid-column: 10;
            justify-content: flex-end;
        }
    }

    // all the pub's content gets dropped into the `publication__contents`
    // element during web task
    .publication__contents {
        grid-column: $grid-column-span;
        grid-row: 2;
    }


    //
    //
    //
    .figure__small {
        grid-column: 4 / span 6;
    }

    .figure__inline.figure__large {
        grid-column: 4 / span 6;
        margin: two-lines(1) 0;
    }

    .publication__header {
        grid-column: 1 / span 12;
        height: $dimensions-large-y;
    }
}
