// wrapper element is injected between opening and closing body tags during
// build


@mixin web-grid-container() {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

@mixin web-navigation-link() {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: $black;
    font-weight: 500;
    letter-spacing: 0.02em;
}

@if $build == 'web' {

    // some base styles
    body { padding: 0; }
    button {
        appearance: none;
        background: transparent;
        border: 0;
        padding: 5px;
        outline: none;

        &:active, &:focus {
            outline: none;
        }
    }




    // navigation show/hide
    $transition-speed: 250ms;
    $transition-easing: ease;

    $dimensions-extra-large-x: 96px;
    $dimensions-extra-large-y: 96px;

    $dimensions-large-x: $dimensions-extra-large-x / 2;
    $dimensions-large-y: $dimensions-extra-large-y / 2;

    $dimensions-medium-x: $dimensions-large-x / 2;
    $dimensions-medium-y: $dimensions-large-y / 2;

    $cell-large-width: $dimensions-extra-large-x * 3;

    $grid-column-span: 3 / span 8;

    .publication {
        min-height: 100vh;
        position: relative;
        margin: 0 0 0 $cell-large-width;
        padding: 0;
        transition: margin-left $transition-speed $transition-easing;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: $dimensions-large-y auto $dimensions-extra-large-y;
        grid-gap: 0;
    }

    .publication__toc {
        @include type-settings(-7);
        position: fixed;
        z-index: 1;
        top: 0;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        border-right: 1px solid $grey;
        width: $cell-large-width;
        transition: transform $transition-speed $transition-easing;

        ol, ul, li, a { @include web-navigation-link; }

        & > ol { padding-right: 15px; }
        ol li,
        ul li {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 5px 0;
            &:last-child { margin: 0; }
        }
        ol ul, ol ol {
            padding: 0 0 0 one-em(0);
        }
    }

    body.nav--closed {
        .publication__toc {
            transform: translateX(-100%);
        }
        .publication {
            margin-left: 0;
        }
    }


    // header styles
    .publication__header {
        @include type-settings(-7);

        grid-column: 1 / span 12;
        grid-row: 1;

        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        height: $dimensions-large-y;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $black;

        h1 {
            @include type-settings(-2);
            padding: 0;
            margin: 0;
            a { @include web-navigation-link; }
        }

        .header__item__toggle {
            position: absolute;
            left: 0;
        }
    }

    // prev/next arrows
    .publication__nav {
        @include web-grid-container; // can't use `display: subgrid` so we re-declare
        transition: width $transition-speed $transition-easing;
        height: $dimensions-extra-large-y;

        grid-column: 2 / span 10;
        grid-row: 3;
        align-items: end;

        .publication__nav__link {
            color: $black;
        }

        .publication__nav__prev,
        .publication__nav__next {

            width: auto;
            height: $dimensions-large-y;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        .publication__nav__prev {
            grid-column: 1;
            justify-content: flex-start;
        }
        .publication__nav__next {
            grid-column: 12;
            justify-content: flex-end;
        }
    }

    // all the pub's content gets dropped into the `publication__contents`
    // element during web task
    .publication__contents {
        @include padding(4,0,3,0,0);
        grid-column: $grid-column-span;
        grid-row: 2;
    }



    //
    //
    //
    // .figure__small {
    //     grid-column: 4 / span 6;
    // }

    // .figure__inline.figure__large {
    //     grid-column: 4 / span 6;
    //     margin: two-lines(1) 0;
    // }

    // .publication__header {
    //     grid-column: 1 / span 12;
    //     height: $dimensions-large-y;
    // }
}
