
// Set @page margin for e-readers
@page{margin:$base-font-size}

// Declare namespaces
@namespace url(http://www.w3.org/1999/xhtml);
@namespace epub url(http://www.idpf.org/2007/ops);

// Bootstrap Baseline Grid
@include establish-baseline;

// Debugging
html {
    @if $debug == true {
        @include debug-vertical-alignment;
    }

    @if $build == web {
        @include break('mobile') { font-size: 112.5%; } // 18px
        @include break('ipad-pro') { font-size: 192.5%; } // 30.8px
    }
}

body {
    margin:0;
    text-indent: 0;
    padding:0;
    font-family:$base-font-family;
    @include font-base;
    @include adjust-font-size-to($base-font-size);
    @include hyphens;
    @include widows;
    @include orphans;
    @include text-rendering;
    @include font-smoothing;
}

blockquote {
    @include font-base;
    @include no-top-padding-element-follows;
    padding: 0.9em 2.31em 0.95em 2.31em;
    text-indent: 0;
}



// Sections
// TODO: Determine section names to be used for body/section classes

section {
    clear: both;
    &:after{
        content: ' ';
        display: table;
        clear: both;
    }
}

section p:first-child,
header + p {
    text-indent: 0;
}

section.break-before a + div.figure-sm {
    padding-top:0;
}

section.subchapter {
    margin-bottom: rhythm(1, $base-font-size);
    + section.subchapter > header > h2 {
        padding-top: 0;
    }
}

section.bibliography {
    margin-bottom: rhythm(1, $base-font-size);
    .subchapter{
        margin-bottom: 0;
    }
    h3 {
        padding-top: 0;
        padding-bottom: 1.4em;
        line-height: 1.4;
    }
    h1 + .subchapter > h3 { padding-top: 0; }
    p {
        text-indent: 0;
        padding-top: 0;
        padding-bottom: 1.4em;
    }
}

// Custom layout for non-linear content, iOS only
//
body.non-linear section:first-child {
    padding: 150px $text-lg $text-lg $text-lg;
    p:first-child{
        padding-top: 0;
    }
}


.figure-inline{
    @include figure;
}
.figure-lg{
    @include figure(100);
    text-align: left;
}

aside.note{
    text-align:left;
    margin:0;
    padding: 0 0 rhythm(1) 0;
    p{
        text-indent: 0;
        a{
            display: inline;
            margin:0;
            padding:0;
        }
    }
}

.pullquote {
    text-indent: 0;
    padding: 0 rhythm(1.65) 1.65em;

    section.titlepage &,
    section.introduction &,
    section.afterword & {
        float: none;
        clear: both;
        padding-bottom: 5.65em;
        padding-top: 0;
    }

    .epigraph & {
        float: none;
        padding-top: 0;
        padding-bottom: 1.4em;
        margin-top: 0;
    }
    + p { text-indent: 0; }
}
