
@mixin tc-rhythm-sizing($font-size, $line-height){
  @include adjust-font-size-to($font-size);
  @include adjust-leading-to(lines-for-font-size($font-size)*.95);
}

@mixin tc-rhythm-padding($font-size){
  @include rhythm-padding(0, lines-for-font-size($font-size)/2, $font-size);
}

@mixin footnote($max-width: 45) {
  @include rhythm(0.5, 0, 0, 0, $text-xs);
  @include no-indent-follow;
  @include font-base;
  @include tc-rhythm-sizing($text-xxs, $line-xxs);
}

@mixin figure($max-width: 45) {
  @include no-break;
  @include text-center;
  @include rhythm(0,0,1.5,0,$base-font-size);
  @include no-indent-follow;
  img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
  }

  figcaption {
    @include footnote;
    width: percentage($max-width/110);
    display: inline-block;
    text-align: left;
    a {
      text-decoration: none;
    }
  }
}

@mixin no-indent-follow {
  + p {
    text-indent: 0;
  }
}

@mixin font-base {
  font-weight: normal;
  font-style: normal;
  @include rhythm(0,0,0,0,$base-font-size);
}

@mixin no-break {
  width: 100% ;
  page-break-inside: avoid;
}

@mixin text-center {
  text-align: center;
}

@mixin text-small {
  @include adjust-font-size-to($text-xs);
}

@mixin text-medium {
  @include adjust-font-size-to($text-md);
}

@mixin bullet-container {
  text-indent: 0;
  margin-left: rhythm(1, $base-font-size);
}

@mixin bullet {
  display: inline-block;
  text-indent: rhythm(-1, $base-font-size);
}


@mixin no-text-indent-p-follows {
  + p { text-indent: 0; }
}

@mixin no-top-padding-element-follows {
  + table, + ul, + ol, + dl, + blockquote { padding-top: 0; }
  + hr { margin-top: 1em; }
}
