
$debug: false;

// Colors
$white: #fff !default;
$black: #222 !default;
$bg-color: $white !default;
$text-color: $black !default;
$light-grey: #eee !default;

// Font sizes
$text-base: 25px !default;  // body

$text-xxs: 17px !default;   // source, footnote
$text-xs: 21px !default;    // blockquote, dialogue
$text-sm: 23px !default;    // appendix title, appendix text
$text-md: 19px !default;    // non-linear content
$text-lg: 23px !default;    // h1, h2, h3, h4, h5, h6

// Line heights
$line-base: 35px !default;

$line-xxs: 25px !default;
$line-xs: 27px !default;
$line-sm: 30px !default;
$line-md: 25px !default;
$line-lg: 30px !default;

// Font stacks
$base-font-family: Iowan, Georgia, Times, 'Times New Roman', serif !default;
$sans-serif: Helvetica, Arial, sans-serif !default;
$serif: $base-font-family !default;
$monospace: Menlo, Osaka, Monaco, monospace !default;
